<section class="post-wrapper-top dm-shadow">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Autorizaci&oacute;n de Estrateg&iacute;as (Detalle)</h2>
    </div><!-- end col-12 -->
  </div><!-- end container -->
</section><!-- end post-wrapper-top -->

<section class="section-single">
  <div class="container">
    <div class="fullwidth-post-wrapper col-lg-12">
      <div class="section-title"> </div><!-- end section-title -->
      <div class="row portfolio_wrapper clearfix">
        <div class="layout-content-body">
          <div class="row">
            <uib-tabset justified="true">
              <uib-tab heading="" index="0">
                <form class="form form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="form-control-8">Actividad</label>
                    <div class="col-sm-9">
                      <textarea id="form-control-8" class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="form-control-1">Per&iacute;odo de
                      Realizaci&oacute;n</label>
                    <div class="col-sm-9">
                      <input id="form-control-1" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="mode" checked>
                          Validar
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="mode" checked>
                          Rechazar
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="form-control-8">Observaciones</label>
                    <div class="col-sm-9">
                      <textarea id="form-control-8" class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </form>
              </uib-tab>
            </uib-tabset>
          </div><!-- /.row -->
        </div>
      </div><!-- end portfolio_wrapper -->
    </div><!-- fullwidth-post-wrapper -->
  </div><!-- end container -->
</section><!-- end section-single -->



<script type="text/ng-template" id="estadosFrm.html">
  <div class="modal-header">
    <label>Editar Datos</label>
    <button type="button" class="close" ng-click="mo.cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
  </div>
      
  <div class="modal-body">
    <div class="text-center">
      <div class="row">
        <div class="col-md-15">
          <div class="demo-form-wrapper">
            <form class="form form-horizontal" name="catObjetivoFrm" novalidate ng-submit="mo.formValidation()" >
              <div class="form-group">
                <label class="col-sm-2 control-label" for="objetivos">Objetivos</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="objetivos" required ng-model="registro.objetivos" adult  >
                  <div ng-show="catObjetivoFrm.name.$invalid">
                      <div class="text-danger m-y-sm" ng-show="catObjetivoFrm.objetivos.$error.required">Campo requerido.</div>
                      <div class="text-danger m-y-sm" ng-show="catObjetivoFrm.objetivos.$error.adult">Edad mayor a 18.</div>
                  </div>
                </div>
                
                <label class="col-sm-2 control-label" for="objetivos">Estrategias</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="estrategias" required ng-model="registro.estrategias" adult  >
                  <div ng-show="catObjetivoFrm.name.$invalid">
                      <div class="text-danger m-y-sm" ng-show="catObjetivoFrm.estrategias.$error.required">Campo requerido.</div>
                      <div class="text-danger m-y-sm" ng-show="catObjetivoFrm.estrategias.$error.adult">Edad mayor a 18.</div>
                  </div>
                </div>
              </div>
              
              
              <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="modal-footer">
                  <input type="button" class="btn btn-default" ng-click="mo.cancel()" value="Cerrar">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </div>
</script>