<section class="post-wrapper-top dm-shadow">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2>Autorizaci&oacute;n de Estrateg&iacute;as</h2>
		</div><!-- end col-12 -->
	</div><!-- end container -->
</section><!-- end post-wrapper-top -->


<section class="section-single">
	<div class="container">
		<div class="fullwidth-post-wrapper col-lg-12">
			<div class="section-title"> </div><!-- end section-title -->
			<div class="row portfolio_wrapper clearfix">
				<div class="col-lg-3 col-md-3">
					<label for="">Tipo de Respuesta</label>
					<select dt-columns="tipoRespuesta" style="width: 70px"></select>
				</div>
				<div class="col-lg-3 col-md-3">
					<label for="">Estategia</label>
					<select dt-columns="tipoRespuesta" style="width: 70px"></select>
				</div>
				<div class="col-lg-3 col-md-3">
					<label for="">Instancia coordinadora</label>
					<select dt-columns="tipoRespuesta" style="width: 70px"></select>
				</div>
			</div>
			<br />
			<br />
			<div class="row portfolio_wrapper clearfix">
				<table datatable class="table table-hover table-striped table-nowrap dataTable" dt-columns="dt.columns"
					dt-options="dt.options" cellspacing="0" width="100%"></table>
			</div><!-- end portfolio_wrapper -->
		</div><!-- fullwidth-post-wrapper -->
	</div><!-- end container -->
</section><!-- end section-single -->