<section class="post-wrapper-top dm-shadow">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2>Reportes Estad&iacute;sticos Ejecutivos</h2>
		</div>
		<!-- end col-12 -->
	</div>
	<!-- end container -->
</section>
<!-- end post-wrapper-top -->

<section class="section-single">

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<!--div class="panel-title text-center">Instituto Nacional de las Mujeres </div-->
			</div>
			<div class="panel-body container-fluid">
				<section>
					<!--well-->
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<section class="">
								<div class="row">
									<button class="hidden-print" id="export-pdf"
										ng-click="printDiv('imprimir');">Exportar a PDF</button>
								</div>
								<div id="imprimir">
									<div class="row lead">
										<div class="col-md-12 text-center">Programaci&oacute;n
											de Actividades {{fecha | date:'yyyy'}} .</div>
										<div class="col-md-12 text-center">Al {{fecha |
											date:'dd/MM/yyyy'}} se {{(objData.conprogramanum == 1 ||
											objData.conprogramanum == null) ?"
											registr&oacute; " + (objData.conprogramanum != null ? "una" : "0") + "
											acci&oacute;n puntual":"registraron "+
											objData.conprogramanum +" acciones puntuales"}} con
											actividades, equivalentes al {{objData.conprogramacion}} % de
											la totalidad.</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<table>
												<tr>
													<td>Con Programaci&oacute;n :</td>
													<td><strong>{{objData.conprogramanum}}</strong></td>
												</tr>
												<tr>
													<td>Sin Programaci&oacute;n :</td>
													<td><strong>{{objData.sinprogramanum}}</strong></td>
												</tr>
											</table>
										</div>
										<div class="col-md-9">
											<!--canvas id="pie" class="chart chart-pie" chart-data="data" 
                                        chart-labels="labels" chart-options="optionsPie"
                                        chart-colors="colorsPie" chart-options="optionsPie" 
                                        chart-click="clickme" chart-hover="hoverme" 
                                        chart-dataset-override="PieDataSetOverride">
                                </canvas-->
											<figure class="highcharts-figure">
												<div id="container1"></div>
											</figure>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- end container -->

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<!--div class="panel-title text-center">Instituto Nacional de las Mujeres </div-->
			</div>
			<div class="panel-body container-fluid">
				<section>
					<!--well-->
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<section class="">
								<div class="row">
									<button class="hidden-print" id="export-pdf"
										ng-click="printDiv('imprimir2');">Exportar a PDF</button>
								</div>
								<div id="imprimir2">
									<div class="row lead">
										<!--div class="col-md-12 text-center">Estatus de ejecuci&oacute;n de las l&iacute;neas de acci&oacute;n</div-->
										<div class="col-md-12 text-center">Estatus de la
											ejecuci&oacute;n de las {{objData2.total}} acciones puntuales
										</div>
										<!--<div class="col-md-12 text-center">Estatus de la ejecuci&oacute;n de las {{objData2.total}} l&iacute;neas de acci&oacute;n </div>-->
									</div>
									<div class="row">
										<div class="col-md-12">
											<!--canvas id="pie2" class="chart chart-pie" chart-data="data2" 
                                        chart-labels="labels2" chart-options="optionsPie2"
                                        chart-colors="colorsPie2" chart-options="optionsPie2" 
                                        chart-click="clickme2" chart-hover="hoverme2" 
                                        chart-dataset-override="PieDataSetOverride2">
                                </canvas-->
											<figure class="highcharts-figure">
												<div id="container2"></div>
											</figure>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table>
												<thead>
													<tr>
														<th>Principales Resultados de los Trabajos</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>* Acciones Puntuales</td>
													<tr>
													<tr>
														<td>De las {{objData2.total}} acciones
															puntuales,{{objData.conprogramanum}} cuentan con
															actividades programadas en {{fecha | date:'yyyy'}}</td>
													<tr>
													<tr>
														<td>{{objData3.conresultados}} cuentan con resultados</td>
													<tr>
													<tr>
														<td>{{objData2.enprocesonum}} en proceso</td>
													<tr>
													<tr>
														<td>{{objData2.cumplidanum}} cumplidas</td>
													<tr>
													<tr>
														<td>{{objData2.pendientenum}} pendientes</td>
													<tr>
													<tr>
														<td>* Instancias</td>
													<tr>
													<tr>
														<td>{{objData3.totalinstancias}} instancias de la APF
															responsables de coordinar la ejecuci&oacute;n de las
															acciones puntuales, de las cuales:</td>
													<tr>
													<tr>
														<td>{{objData3.instanciasconinfo}} cargaron
															informaci&oacute;n</td>
													<tr>
													<tr>
														<td>{{objData3.instanciassininfo}} no han subido
															informaci&oacute;n</td>
													<tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>

							</section>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- end container -->
</section>
<!-- end section-single -->
<style>
</style>
