<div id="wrapper">
	<div ng-include="'views/partials/header.tpl.html'">Header partials</div>
	<!--div class="layout-sidebar" ng-include="'views/partials/sidebar.tpl.html'"></div-->
	<div ui-view>
		
		
		
	</div>
	<div class="layout-footer"
		ng-include="'views/partials/footer.tpl.html'">
	</div>
</div>
