<section class="section-single">
    <div class="container">
			<div class="fullwidth-post-wrapper col-lg-12">
                                <div class="section-title post-wrapper-top dm-shadow">
				    <div class="col-sm-5"></div>
				    <div class="col-sm-2">
					<div class="container">
				           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			                      <h2>Notificaciones</h2>
				           </div><!-- end col-12 -->
				        </div><!-- end container -->
                                    </div>
				    <div class="col-sm-5"></div>
				</div>
				<div class="row portfolio_wrapper clearfix">
				     <div class="bs-example"> </div>
				   <table datatable class="table table-hover table-striped table-nowrap dataTable" 
                                          dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns"
                                          cellspacing="0" width="100%"></table>
				</div><!-- end portfolio_wrapper -->
			</div><!-- fullwidth-post-wrapper -->
		</div><!-- end container -->
</section><!-- end section-single -->