<section class="post-wrapper-top dm-shadow">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Cat&aacute;logo de Estados y Municipios</h2>
    </div><!-- end col-12 -->
  </div><!-- end container -->
</section><!-- end post-wrapper-top -->

<section class="section-single">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Estados
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <div>
            <div ng-repeat="catEstado in lstEstado">
              <div class="clearfix" ng-if="$index % 5 == 0"></div>
              <div class="col-md-2" style="border: 1px gray solid;width:20%;">
                <input type="radio" class="checkbox2" name="checkEstado"
                  ng-click="viewMunicipio(catEstado)" />{{catEstado.descripcion}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div><!-- end container -->
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Municipios del estado {{estadoSeleccionado.descripcion}}
      </div>
      <div class="panel-body">
        <div class="row portfolio_wrapper clearfix">
          <div class="col-sm-5"></div>
          <div class="col-lg-2">
            <button ng-click="editarRegistro(null,'N')" class="btn btn-primary"
              ng-disabled="!estadoSeleccionado.id">Nuevo Municipio</button>
          </div>
          <div class="col-sm-5"></div>
          <div class="col-sm-12">
            <br>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div ng-repeat="catMunicipio in lstMunicipiosEstado">
              <div class="clearfix" ng-if="$index % 5 == 0"></div>
              <div class="col-md-2" style="border: 1px gray solid;width:20%;">
                <input type="radio" class="checkbox2" name="checkMunicipio"
                  ng-click="editarRegistro(catMunicipio,'M')" />
                {{catMunicipio.descripcion}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div><!-- end container -->
</section><!-- end section-single -->

<script type="text/ng-template" id="municipioEditFrm.html">
  <div class="modal-header">
    <label>Editar Datos</label>
    <button type="button" class="close" ng-click="mo.cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
  </div>
      
  <div class="modal-body">
    <div class="text-center">
      <div class="row">
        <div class="col-md-15">
          <div class="demo-form-wrapper">
            <form class="form form-horizontal" name="catMunicipioFrm" novalidate ng-submit="mo.formValidation()" >
              <div class="form-group">
                <label class="col-sm-2 control-label" for="Clave">Clave</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="clave" required ng-model="registroEdit.clave" adult  >
                  <div ng-show="catMunicipioFrm.clave.$invalid">
                      <div class="text-danger m-y-sm" ng-show="catMunicipioFrm.clave.$error.required">Campo requerido.</div>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="Descripcion">Descripcion</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="descripcion" required ng-model="registroEdit.descripcion" adult  >
                  <div ng-show="catMunicipioFrm.descripcion.$invalid">
                      <div class="text-danger m-y-sm" ng-show="catMunicipioFrm.descripcion.$error.required">Campo requerido.</div>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="estado">Estado</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="catEstado" required ng-model="registroEdit.catEstado.descripcion" adult  >
                  <div ng-show="catMunicipioFrm.catEstado.$invalid">
                      <div class="text-danger m-y-sm" ng-show="catMunicipioFrm.catEstado.$error.required">Campo requerido.</div>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                  <div class="col-md-3"></div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3"></div>
                  <div class="modal-footer">
                    <input type="button" class="btn btn-default" ng-click="mo.cancel()" value="Cerrar">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
              </div>
      
            </form>
          </div>
        </div>      
      </div>
    </div>
  </div>
</script>