<section class="post-wrapper-top dm-shadow">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div ng-show="operador">
				<h2>Ejecuci&oacute;n de Acciones Puntuales (Detalle)</h2>
			</div>
			<div ng-show="admin">
				<h2>Monitoreo del Programa Nacional</h2>
			</div>
		</div>
		<!-- end col-12 -->
	</div>
	<!-- end container -->
</section>
<!-- end post-wrapper-top -->

<section class="section-single">
	<div class="container">
		<div class="fullwidth-post-wrapper col-lg-12">
			<div class="section-title"></div>
			<!-- end section-title -->
			<div class="row portfolio_wrapper clearfix">
				<div class="layout-content-body">

					<div class="row">
						<form class="form form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 control-label"
									for="form-control-8"><strong>Fecha</strong></label>
								<div class="col-sm-9">
									<label class="col-sm-3 control-label2" for="form-control-8">{{tblActividad1.fecha
										| date:'yyyy-MM-dd HH:mm:ss'}}</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="form-control-1">Usuario</label>
								<div class="col-sm-9">
									<label class="col-sm-3 control-label2" for="form-control-8">{{user.nombre}}</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="form-control-1">Objetivo</label>
								<div class="col-sm-9">
									<label
										class="col-sm-10 control-label2">{{tblPlanNacionalAnual.tblLineaAccion.tblEstrategia.tblObjetivo.clave}}
										{{tblPlanNacionalAnual.tblLineaAccion.tblEstrategia.tblObjetivo.descripcion}}</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="form-control-1">Estrategia</label>
								<div class="col-sm-9">
									<label
										class="col-sm-10 control-label2">{{tblPlanNacionalAnual.tblLineaAccion.tblEstrategia.clave}}
										{{tblPlanNacionalAnual.tblLineaAccion.tblEstrategia.descripcion}}</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="form-control-1">Acción Puntual</label>
								<div class="col-sm-9">
									<label
										class="col-sm-10 control-label2">{{tblPlanNacionalAnual.tblLineaAccion.clave}}
										{{tblPlanNacionalAnual.tblLineaAccion.descripcion}}</label>
								</div>
							</div>
						</form>
					</div>

					<div class="row">
						<uib-tabset justified="true">
							<uib-tab heading="{{tblActividad1.catActividad.descripcion}}" index="0">
								<div class="row">
									<uib-tabset>
										<uib-tab heading="Actividad" index="0">
											<form class="form form-horizontal" name="oprActividadFrm">
												<div class="form-group">
													<label class="col-sm-3 control-label"
														for="form-control-8">Descripci&oacute;n
														de la Actividad</label>
													<div class="col-sm-9">
														<textarea id="form-control-8" class="form-control" rows="3"
															ng-model="tblActividad1.descripcion"
															ng-disabled="tblActividad1.idEstatus > 1"></textarea>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="perfil">Periodo
														Programado</label>
													<div class="col-sm-9">
														<select id="periodoProgramado" name="periodoProgramado"
															class="form-control" ng-required="true"
															ng-options="registro as registro.descripcion for registro in lstCatPeriodoProgramacion track by registro.id"
															ng-model="tblActividad1.catPeriodoProgramacion"
															ng-disabled="tblActividad1.idEstatus > 1"></select>
														</select>
														<div ng-show="oprActividadFrm.periodoProgramado.$invalid">
															<div class="text-danger m-y-sm"
																ng-show="oprActividadFrm.periodoProgramado.$error.required">
																Campo
																requerido.</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="categoria">Proceso
														al que Contribuye</label>
													<div class="col-sm-9">
														<select id="categoria" name="categoria" class="form-control"
															ng-required="true"
															ng-options="registro as registro.descripcion for registro in lstCatCategoria track by registro.id"
															ng-model="tblActividad1.catCategoria"
															ng-disabled="tblActividad1.idEstatus > 1"></select>
														</select>
														<div ng-show="oprActividadFrm.categoria.$invalid">
															<div class="text-danger m-y-sm"
																ng-show="oprActividadFrm.categoria.$error.required">
																Campo
																requerido.</div>
														</div>
													</div>
												</div>
												<br>
												<div class="form-group">
													<div class="col-md-12">
														<label style="color: red">*</label>Selecciona uno o varios
														derechos que se asocian a tu actividad
														<div>
															<div
																ng-repeat="catDerecho in lstCatDerecho | orderBy : 'id'">
																<div class="clearfix" ng-if="$index % 4 == 0"></div>
																<div class="col-md-2"
																	style="border: 1px gray solid; width: 100%; height: 40px">
																	<input type="checkbox" class="checkbox2"
																		name="checkDerecho[]"
																		checklist-model="tblActividad1.catDerecho"
																		checklist-value="catDerecho"
																		ng-disabled="tblActividad1.idEstatus > 1" />
																	{{catDerecho.clave}}.{{catDerecho.descripcion}}
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-6"></div>
													<div class="col-sm-3">
														<button type='button' class='btn btn-default'
															ng-show="tblActividad1.idEstatus == 2"
															ng-click="ApruebaActividad();">Aprueba Actividad</button>
														<button type='button' class='btn btn-default'
															ng-show="tblActividad1.idEstatus == 1"
															ng-click="EnviaValidacion();">Enviar a
															validaci&oacute;n</button>
														<button type='button' class='btn btn-default'
															ng-show="tblActividad1.idEstatus == 3"
															ng-click="EnviaResultado();">Enviar a
															revisi&oacute;n</button>
														<button type='button' class='btn btn-default'
															ng-show="tblActividad1.idEstatus == 4"
															ng-click="EnviaAutorizacion();">Concluir Actividad</button>
													</div>
													<div class="col-sm-3">
														<button type='button' class='btn btn-default'
															ng-disabled="tblActividad1.id > 0"
															ng-show="tblActividad1.id==0"
															ng-click="GenerarActividad();">Generar
															Actividad</button>
														<button type='button' class='btn btn-default'
															ng-show="tblActividad1.idEstatus == 2"
															ng-click="RechazaActividad();">Observar Actividad</button>
														<button type='button' class='btn btn-default'
															ng-show="tblActividad1.idEstatus == 4"
															ng-click="RechazaActividad2();">Observar Actividad</button>
													</div>
												</div>
											</form>
										</uib-tab>
										<uib-tab heading="Resultado" index="1" disable="tblActividad1.idEstatus < 2">
											<form class="form form-horizontal">
												<div class="form-group">
													<div class="col-sm-9"></div>
													<div class="col-sm-3">
														<button type='button' class='btn btn-default'
															ng-disabled="tblActividad1.id == 0"
															ng-show="autorizacion.ejecucion.btnGeneraActividad"
															ng-click="GenerarActividad();">Guardar Resultado</button>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label"
														for="form-control-8">Resultado</label>
													<div class="col-sm-9">
														<textarea id="form-control-18" class="form-control" rows="3"
															ng-model="tblActividad1.resultado"
															ng-disabled="autorizacion.ejecucion.inputActividad"></textarea>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-2 control-label"
														for="periodoRealizacion">Periodo
														de Realizaci&oacute;n</label>
													<div class="col-sm-9">
														<select id="periodoRealizacion" name="periodoRealizacion"
															class="form-control" ng-required="true"
															ng-options="registro as registro.descripcion for registro in lstCatPeriodoRealizacion track by registro.id"
															ng-model="tblActividad1.catPeriodoRealizacion"
															ng-disabled="autorizacion.ejecucion.inputActividad"></select>
														</select>
														<div ng-show="oprActividadFrm.periodoRealizacion.$invalid">
															<div class="text-danger m-y-sm"
																ng-show="oprActividadFrm.periodoRealizacion.$error.required">
																Campo
																requerido.</div>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-3 control-label" for="form-control-1">Importe
														Asignado</label>
													<div class="col-sm-9">
														<input id="form-control-1" class="form-control" type="text"
															ng-model="tblActividad1.importeAsignado"
															ng-disabled="autorizacion.ejecucion.inputActividad"
															ng-currency restrict-to="^[-]?[0-9]*[.]?[0-9]{0,2}$">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label"
														for="form-control-1">Identificaci&oacute;n
														y Descripci&oacute;n de los Programas Presupuestados </label>
													<div class="col-sm-9">
														<input id="form-control-118" class="form-control" type="text"
															ng-model="tblActividad1.identificacion"
															ng-disabled="autorizacion.ejecucion.inputActividad">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label" for="form-control-1">Unidades
														Responsables</label>
													<div class="col-sm-9">
														<textarea class="form-control" name="unidadResponsable" required
															ng-disabled="autorizacion.ejecucion.inputActividad"
															ng-model="tblActividad1.unidadResponsable"
															rows="6"></textarea>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-3 control-label"
														for="form-control-8">Observaciones</label>
													<div class="col-sm-9">
														<textarea id="form-control-28" class="form-control" rows="3"
															ng-model="tblActividad1.observacion"
															ng-disabled="autorizacion.ejecucion.inputActividad"></textarea>
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-9"></div>
													<div class="col-sm-3">
														<button type='button' class='btn btn-default'
															ng-disabled="tblActividad1.id == 0"
															ng-show="autorizacion.ejecucion.btnGeneraActividad"
															ng-click="GenerarActividad();">Guardar Resultado</button>
													</div>
												</div>
											</form>
										</uib-tab>
										<uib-tab heading="Poblaci&oacute;n" index="2"
											disable="tblActividad1.idEstatus < 2">
											<form class="form form-horizontal">
												<div class="row">
													<div class="form-group">
														<div class="col-sm-1"></div>
														<div class="col-sm-10">
															<div id="divTmp" class="table-responsive"></div>
															<div id="divTabla" class="table-responsive"></div>
														</div>
														<div class="col-sm-1"></div>
														<div>
															<button type='button' class='btn btn-default'
																ng-click="exportaPoblacion();"
																ng-show="!autorizacion.ejecucion.btnGeneraActividad">Exportar
																Excel</button>
														</div>
													</div>
													<div class="form-group">
														<div class="col-sm-9"></div>
														<div class="col-sm-3">
															<button type='button' class='btn btn-default'
																ng-disabled="tblActividad1.id == 0"
																ng-show="autorizacion.ejecucion.btnGeneraActividad"
																ng-click="GenerarActividad();">Guardar
																Poblaci&oacute;n</button>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-12">
														<div class="col-sm-6">
															<div class="radio">
																<label><input type="radio" name="optCobertura" value="N"
																		ng-checked="(tblActividad1.cobertura == 'N')"
																		ng-model="tblActividad1.cobertura"
																		ng-disabled="autorizacion.ejecucion.inputActividad">Nacional</label>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="radio">
																<label><input type="radio" name="optCobertura" value="L"
																		ng-checked="(tblActividad1.cobertura == 'L')"
																		ng-model="tblActividad1.cobertura"
																		ng-disabled="autorizacion.ejecucion.inputActividad">Local</label>
															</div>
														</div>
													</div>
												</div>
												<div class="row" ng-hide="(tblActividad1.cobertura == 'N')">
													<div class="col-sm-12">
														<div class="panel panel-default">
															<div class="panel-heading">Entidades</div>
															<div class="panel-body">
																<div class="row">
																	<div class="col-md-12">
																		<!--button type='button' class='btn btn-default' ng-click="viewMunicipio();" ng-show="!fncShow()">Ver Municipios</button-->
																	</div>
																	<div class="separator"></div>
																	<div class="col-md-12">
																		<div>
																			<div ng-repeat="catEstado in lstEstado">
																				<div class="clearfix"
																					ng-if="$index % 5 == 0"></div>
																				<div class="col-md-2"
																					style="border: 1px gray solid; width: 20%;">
																					<input type="checkbox"
																						class="checkbox2 check-estado-id"
																						name="checkEstado"
																						checklist-model="tblActividad1.catEstado"
																						checklist-value="catEstado"
																						ng-click="selEstado(catEstado,catEstado.id)"
																						ng-disabled="fncShow()"
																						id="checkEstado{{catEstado.id}}" />
																					<a ng-show="fncShow()"
																						ng-click="viewMunicipio2(catEstado.id)"
																						alt="Ver Municipios"><strong
																							style="color: blue;">{{catEstado.descripcion}}</strong></a>
																					<a ng-show="!fncShow()" href
																						ng-click="viewMunicipio2(catEstado.id)"
																						alt="Ver Municipios"><strong
																							style="color: blue;">{{catEstado.descripcion}}</strong></a>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-md-12" ng-hide="verMunicipio">
																	<div class="panel panel-default">
																		<div class="panel-heading">Municipios</div>
																		<div class="panel-body">
																			<div class="col-md-12">
																				<div>
																					<div
																						ng-repeat="catMunicipio in lstMunicipiosEstado">
																						<div class="clearfix"
																							ng-if="$index % 5 == 0">
																						</div>
																						<div class="col-md-2"
																							style="border: 1px gray solid; width: 20%;">
																							<input type="checkbox"
																								class="checkbox2"
																								name="checkMunicipio[]"
																								checklist-model="tblActividad1.catMunicipio"
																								checklist-value="catMunicipio"
																								ng-disabled="autorizacion.ejecucion.inputActividad" />
																							{{catMunicipio.descripcion}}
																						</div>
																					</div>
																				</div>
																			</div>
																			<div></div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-9"></div>
																	<div class="col-sm-3">
																		<button type='button' class='btn btn-default'
																			ng-disabled="tblActividad1.id == 0"
																			ng-show="autorizacion.ejecucion.btnGeneraActividad"
																			ng-click="GenerarActividad();">Guardar
																			Poblaci&oacute;n</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</form>
										</uib-tab>
										<uib-tab heading="Subir Archivo" index="3"
											disable="tblActividad1.idEstatus < 2">
											<!--div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
                                   Archivos
				</div>
				<div class="panel-body">
				   	<table>
                                          <thead>
                                            <tr>
                                              <th>Fecha</th>
                                              <th>Descripci&oacute;n</th>
                                              <th></th>
                                            </tr>
                                          </thead>
                                          <tbody>
					    <tr>
					      <td>{{ fecha }}</td>
					      <td>{{ tblActividad1.tblArchivo.descripcion }}</td>
					      <td>Descarga Archivos</td>
					    </tr>
                                          </tbody>
					</table>
				</div>
 			 </div-->
											<form id="formuploadajax" class="form form-horizontal">
												<div class="form-group">
													<label class="col-sm-2 control-label"
														for="descripcion">Archivos</label>
													<div class="col-sm-9">
														<div class="col-sm-12">
															<label style="color: red">*</label><label>Por favor ingresa
																hasta 3 archivos, con un tama&ntilde;o m&aacute;ximo de
																10 MB en total. El formato que puedes subir es PDF, Word
																y Excel.</label>
														</div>
														<input type="file" class="form-control" name="archivoActividad"
															id="archivoActividad" file-input="files" multiple
															accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,
                                         application/pdf,
                                         application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" app-filereader
															onchange="angular.element(this).scope().filesChanged(this)"
															ng-disabled="tblActividad1.tblArchivo.disponible==0" />
														<div ng-show="formuploadajax.archivoActividad.$invalid">
															<div class="text-danger m-y-sm"
																ng-show="formuploadajax.archivoActividad.$error.required">
																Campo
																requerido.</div>
														</div>
													</div>
												</div>
												<hr class="separator" />
												<div class="form-group">
													<div class="col-sm-6">
														<table>
															<tr ng-repeat="file in files">
																<td class="col-md-3"><strong>Documento</strong>
																	<p class="muted">{{file.name}}</p>
																</td>
															<tr>
														</table>
													</div>
													<div class="col-sm-6">
														<table>
															<tr>
																<td><a
																		ng-href="/pronapinnaback/descarga/documento/{{tblActividad1.id}}/{{tblActividad1.tblArchivo.archivo1}}">{{tblActividad1.tblArchivo.archivo1}}</a>
																</td>
															<tr>
															<tr>
																<td><a
																		ng-href="/pronapinnaback/descarga/documento/{{tblActividad1.id}}/{{tblActividad1.tblArchivo.archivo2}}">{{tblActividad1.tblArchivo.archivo2}}</a>
																</td>
															<tr>
															<tr>
																<td><a
																		ng-href="/pronapinnaback/descarga/documento/{{tblActividad1.id}}/{{tblActividad1.tblArchivo.archivo3}}">{{tblActividad1.tblArchivo.archivo3}}</a>
																</td>
															<tr>
														</table>
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-2 control-label"><label
															style="color: red">*</label><label for="descripcion">
															Descripci&oacute;n</label></div>

													<div class="col-sm-9">
														<textarea class="form-control" name="descripcion" required
															ng-disabled="autorizacion.ejecucion.inputActividad"
															ng-model="tblActividad1.tblArchivo.descripcion"
															rows="6"></textarea>
														<div ng-show="formuploadajax.descripcion.$invalid">
															<div class="text-danger m-y-sm"
																ng-show="formuploadajax.descripcion.$error.required">
																Campo
																requerido.</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-3"></div>
													<div class="col-md-3"></div>
													<div class="col-md-3"></div>
													<div class="col-sm-2">
														<button type="button" class="btn btn-primary"
															data-ng-click="upload()"
															ng-disabled="tblActividad1.tblArchivo.disponible==0">Subir
															Archivos</button>
													</div>
												</div>

												<!--input type="file" name="file" multiple
                                 accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,
                                         application/pdf,
                                         application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" /><br/><br/>
                           <input type="submit" value="Submit" /-->
											</form>
										</uib-tab>
									</uib-tabset>
								</div>
							</uib-tab>
					</div>
					<!-- /.row -->
				</div>
			</div>
			<!-- end portfolio_wrapper -->
		</div>
		<!-- fullwidth-post-wrapper -->
	</div>
	<!-- end container -->
</section>
<!-- end section-single -->

<div id="modal-rechazo" class="modal fade modal-rechazo" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Observaci&oacute;n</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form id="rechazoFrm" name="rechazoFrm" novalidate>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="motivoRechazo">Observaci&oacute;n</label>
								<div class="col-sm-9">
									<textarea class="form-control" type="text" name="motivoRechazo" required
										ng-model="envioMail.observacionR"></textarea>
									<div ng-show="rechazoFrm.motivoRechazo.$invalid">
										<div class="text-danger m-y-sm"
											ng-show="rechazoFrm.motivoRechazo.$error.required">Campo
											requerido.</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="ConfirmacionRechazo();">Enviar</button>
			</div>
		</div>
	</div>
</div>

<div id="modal-rechazo2" class="modal fade modal-rechazo2" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Observaci&oacute;n</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form id="rechazo2Frm" name="rechazo2Frm" novalidate>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="motivoRechazo">Observaci&oacute;n</label>
								<div class="col-sm-9">
									<textarea class="form-control" type="text" name="motivoRechazo" required
										ng-model="envioMail.observacionR2"></textarea>
									<div ng-show="rechazo2Frm.motivoRechazo.$invalid">
										<div class="text-danger m-y-sm"
											ng-show="rechazo2Frm.motivoRechazo.$error.required">Campo
											requerido.</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="ConfirmacionRechazo2();">Enviar</button>
			</div>
		</div>
	</div>
</div>

<div id="modal-resultado" class="modal fade modal-resultado" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Observaci&oacute;n</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form id="resultadoFrm" name="resultadoFrm" novalidate>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="motivoResultado">Observaci&oacute;n</label>
								<div class="col-sm-9">
									<textarea class="form-control" type="text" name="motivoResultado" required
										ng-model="envioMail.observacionRe"></textarea>
									<div ng-show="resultadoFrm.motivoResultado.$invalid">
										<div class="text-danger m-y-sm"
											ng-show="resultadoFrm.motivoResultado.$error.required">Campo
											requerido.</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="ConfirmacionResultado();">Enviar</button>
			</div>
		</div>
	</div>
</div>


<div id="modal-aprobacion" class="modal fade modal-aprobacion" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Observaci&oacute;n</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form id="aprobacionFrm" name="aprobacionFrm" novalidate>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="motivoRechazo">Observaci&oacute;n</label>
								<div class="col-sm-9">
									<textarea class="form-control" type="text" name="comentario" required
										ng-model="envioMail.observacionA"></textarea>
									<div ng-show="aprobacionFrm.comentario.$invalid">
										<div class="text-danger m-y-sm"
											ng-show="aprobacionFrm.comentario.$error.required">Campo
											requerido.</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="ConfirmacionAprobacion();">Enviar</button>
			</div>
		</div>
	</div>
</div>

<div id="modal-validacion" class="modal fade modal-validacion" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Observaci&oacute;n</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form id="validacionFrm" name="validacionFrm" novalidate>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="motivoRechazo">Observaci&oacute;n</label>
								<div class="col-sm-9">
									<textarea class="form-control" type="text" name="observacionV" required
										ng-model="envioMail.observacionV"></textarea>
									<div ng-show="validacionFrm.observacionV.$invalid">
										<div class="text-danger m-y-sm"
											ng-show="validacionFrm.observacionV.$error.required">Campo
											requerido.</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="ConfirmacionValidacion();">Enviar</button>
			</div>
		</div>
	</div>
</div>

<div id="modal-autoriza" class="modal fade modal-autoriza" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Observaci&oacute;n</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form id="autorizaFrm" name="autorizaFrm" novalidate>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="motivoRechazo">Observaci&oacute;n</label>
								<div class="col-sm-9">
									<textarea class="form-control" type="text" name="observacionA" required
										ng-model="envioMail.observacionA"></textarea>
									<div ng-show="autorizaFrm.observacionV.$invalid">
										<div class="text-danger m-y-sm"
											ng-show="autorizaFrm.observacionA.$error.required">Campo
											requerido.</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="ConfirmacionAutorizacion();">Enviar</button>
			</div>
		</div>
	</div>
</div>