

	<section class="section-copyright dm-shadow text-center">
		<div class="container" >
	
		 <div class="back-to-top clearfix">
                <span><span class="dmtop"><em class="fa fa-arrow-up"></em></span></span>
         </div>
          <tr>
          	<td>
           			<div class="col-lg-3 col-md-12 col-sm-12 " >
							<img  src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.svg" href="/" alt="logo gobierno de méxico" class="logo_footer" style="max-width: 55%; margin-left: -18%;   margin-top: 5%;">
					</div>
			</td>
			<td>
				<div class="col-lg-6 col-md-12 col-sm-12 ">
						<p class="fuente_14_B">PRONAPINNA</p> 
				</div>
			</td>
		
			<td>
				
				<div class="col-lg-3 col-md-12 col-sm-12 ">

				    <!------------------------------------------------------------------------------------------>
                                    <!-- <a href="mailto:gobmx@funcionpublica.gob.mx"> gobmx@funcionpublica.gob.mx</a>        -->
                                    <!------------------------------------------------------------------------------------------>

				  </p>
						<h2 style="color:#ffffff;">Síguenos en <a id="Facebook" href="https://www.facebook.com/gobmexico" target="_blank" rel="noopener" class="sendEst share-info footer" title="enlace a facebook abre en una nueva ventana">
			                <img alt="Facebook" src="https://framework-gb.cdn.gob.mx/landing/img/facebook.png" />
			              </a><a id="Twitter" href="https://twitter.com/GobiernoMX" target="_blank" rel="noopener" class="sendEst share-info footer" title="Enlace a twitter abre en una nueva ventana">
			                <img alt="Twitter" src="https://framework-gb.cdn.gob.mx/landing/img/twitter.png" />
			              </a></h2>
				
					
			             
			           
			              
			           
				</div>
			</td>
				
	
          
			 </tr>
			 
		</div><!-- end container -->
          
           
          
    </section><!-- end section-copyright -->
    
    
    