
<header class="header-wrapper">
	<h1>
			
					<table>
						<tr>
							<td><em>&nbsp;</em></td>
							<td width="20%"><img src="/pronapinna/resources/images/logoheader.svg" width="60%" heigth="40%" alt="Imagen2"/></td>
							<td>Programa Nacional de Protecci&oacute;n de Ni&ntilde;as, Ni&ntilde;os y Adolescentes</td>
                        <td><em>&nbsp;</em></td>
							<td width="20%"><img src="/pronapinna/resources/images/sipinna_blanco.png" width="60%" heigth="40%" alt="Imagen3"/></td>
						</tr>
					</table>
			
	</h1>
	<!--div class="container"-->
	<!-- 	<div class="site-header clearfix"> -->
	<!-- title area -->
	<div style="width:100%">
	<!--div  class="col-lg-12 col-md-12 col-sm-12"-->
	
		<nav class="navbar navbar-default fhmm" role="navigation">
			<div class="navbar-header">
				<button type="button" data-toggle="collapse"
					data-target="#defaultmenu" class="navbar-toggle">
					<span class="icon-bar"></span><span class="icon-bar"></span><span
						class="icon-bar"></span>
				</button>
			</div>
			<!-- end navbar-header -->
			<div id="defaultmenu" class="navbar-collapse collapse container">
					<ul class="nav navbar-nav  title-area pull-center">
						<li class="dropdown"><a href="#!home" class="fuente_16_B">Inicio</a></li>
						<!-- end standard drop down -->
			<li ng-show="autorizacion.administracion.visible" class="dropdown">
			    <a data-toggle="dropdown" class="dropdown-toggle fuente_16_B">Administraci&oacute;n 
			    <strong class="caret"></strong></a>
                            <ul class="dropdown-menu" role="menu"> 
                               <li><a class="fuente_16" href="#!catPlan_nacional">Carga del Programa Nacional</a></li> 
                               <li><a class="fuente_16" href="#!catObjetivos">Objetivos</a></li> 
                               <li><a class="fuente_16" href="#!catEstrategias">Estrategias</a></li> 
                               <li><a class="fuente_16" href="#!catDependencias">Dependencias</a></li> 
                               <li><a class="fuente_16" href="#!catCacciones">Acciones Puntuales</a></li>
                               <li><a class="fuente_16" href="#!catCategorias">Proceso al que Contribuye</a></li>
                               <!--li><a class="fuente_16" href="#!catInstancia_coordinadora">Instancia coordinadora</a></li>
                               <li><a class="fuente_16" href="#!catResponsables">Responsables</a></li>                                
                               <li><a class="fuente_16" href="#!catAcciones_puntuales">Acciones Puntuales</a></li--> 
                               <li><a class="fuente_16" href="#!catDerechos">Derechos</a></li> 
                               <!--li><a class="fuente_16" href="#catPeriodos">Periodos</a></li --> 
                               <li><a class="fuente_16" href="#!catTipo_respuesta">Tipo de Respuesta</a></li> 
                               <li><a class="fuente_16" href="#!catEstadosyMunicipios">Estados y Municipios</a></li> 
                            </ul><!-- end dropdown-menu --> 
                        </li><!-- end standard drop down --> 
                        
                        
                        
                        <li  ng-show="autorizacion.ejecucion.visible" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle fuente_16_B">Ejecuci&oacute;n y Seguimiento  
						    <strong class="caret"></strong></a>
                            
                            <ul class="dropdown-menu" role="menu"> 
                                <li ng-show="autorizacion.ejecucion.accionesPuntuales"><a class="fuente_16" href="#!ejecucion">Ejecuci&oacute;n de Acciones Puntuales</a></li> 
                                <li ng-show="autorizacion.ejecucion.monitoreo"><a class="fuente_16" href="#!ejecucion2">Monitoreo del Programa Nacional</a></li> 
                                <li ng-show="autorizacion.ejecucion.observacion"><a class="fuente_16" href="#!revision">Observaciones a Actividades y Resultados</a></li>
                                <li ng-show="autorizacion.ejecucion.autorizacion"><a class="fuente_16" href="#!ejecucion2">Autorizaci&oacute;n de estrateg&iacute;as </a></li> 
                            </ul><!-- end dropdown-menu --> 
                        </li><!-- end standard drop down --> 
                        
                        
                        <li  ng-show="autorizacion.reportes.visible" class="dropdown">
                        	<a data-toggle="dropdown" class="dropdown-toggle fuente_16_B">Reportes  
						    <strong class="caret"></strong></a>
						    
                            <ul class="dropdown-menu" role="menu"> 
                                <li><a class="fuente_16" href="#!sabanaDatos">S&aacute;bana de Datos</a></li> 
                                <li><a class="fuente_16" href="#!ejecutivos">Reportes Estad&iacute;sticos Ejecutivos</a></li>
                                <li><a class="fuente_16" href="#!rolDependencia">Rol Dependencias</a></li>
                                 
                                <!--li><a class="fuente_16" href="">Reportes estad&iacute;sticos operativos</a></li--> 
                            </ul><!-- end dropdown-menu --> 
                        </li><!-- end standard drop down -->                                                              
                        <!-- Mega Menu --> 
                        <li ng-show="autorizacion.historico.visible" class="dropdown">
                        	<a data-toggle="dropdown" class="dropdown-toggle fuente_16_B">Hist&oacute;rico  
						    <strong class="caret"></strong></a>
						    
                            <ul class="dropdown-menu" role="menu"> 
                                <li><a class="fuente_16" href="#!historico">Consulta del PRONAPINNA anterior</a></li> 
                            </ul><!-- end dropdown-menu --> 
                        </li><!-- end standard drop down -->   
                        
                        
                        <li  ng-show="autorizacion.seguridad.visible" class="dropdown">
                        	<a data-toggle="dropdown" class="dropdown-toggle fuente_16_B">Seguridad 
						    <strong class="caret"></strong></a>
						    
                            <ul class="dropdown-menu" role="menu"> 
                                <li><a class="fuente_16" href="#!usuarios">Usuarios</a></li> 
                                <!--li><a class="fuente_16" href="#!roles">Roles y Permisos</a></li--> 
                            </ul><!-- end dropdown-menu --> 
                        </li><!-- end standard drop down -->   
                        
                        
                         <li ng-show="autorizacion.bitacora.visible" class="dropdown">
                        	<a data-toggle="dropdown" class="dropdown-toggle fuente_16_B">Bit&aacute;cora  
						    <strong class="caret"></strong></a>
						    
                            <ul class="dropdown-menu" role="menu"> 
                                <li><a class="fuente_16" href="#!bitacora">Bit&aacute;cora de movimientos</a></li> 
                                <li><a class="fuente_16" href="#!home">Notificaciones</a></li> 
                            </ul><!-- end dropdown-menu --> 
                        </li><!-- end standard drop down -->  

                        <li class="dropdown">
                        	<a data-toggle="dropdown" class="dropdown-toggle fuente_16_B"> {{user.nombre}}  
						    <strong class="caret"></strong></a>
						    
                            <ul class="dropdown-menu" role="menu"> 
                                <li><a class="fuente_16" href="/pronapinna/logout">Salir</a></li> 
                                <li><a class="fuente_16" href="#!cambioPassword">Cambio de Contrase&ntilde;a</a></li> 
                            </ul><!-- end dropdown-menu --> 
                        </li><!-- end standard drop down -->   
                    

					</ul>
					<!-- end nav navbar-nav -->
				</div>
			<!-- end #navbar-collapse-1 -->
		</nav>
		<!-- end navbar navbar-default fhmm -->
	
	</div>
	<!-- end col 9 -->
	<!-- 	</div> -->
	<!-- end site header -->
	<!--/div-->
	<!-- end container -->

</header>

