<div class="topbar">
    	<div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="callus">
                    <p>
                        <span><em class="fa fa-envelope-o"></em> support@yoursite.com</span> 
                        <span><em class="fa fa-phone"></em> +09 264 222 21 21</span>
                    </p>
                </div><!-- end callus -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            	<div class="marketing">
                    <ul class="topflags pull-right">
                        <li><a data-placement="bottom" data-toggle="tooltip" data-original-title="German" title="" href="#"><img alt="de" src="images/flags/de.png"></a></li>
                        <li><a data-placement="bottom" data-toggle="tooltip" data-original-title="Turkish" title="" href="#"><img alt="tr" src="images/flags/tr.png"></a></li>
                        <li><a data-placement="bottom" data-toggle="tooltip" data-original-title="Geek" title="" href="#"><img alt="gr" src="images/flags/gr.png"></a></li>
                    </ul><!-- end flags -->
                    <ul class="topmenu pull-right">
                        <li><a data-placement="bottom" data-toggle="tooltip" data-original-title="0 item in your cart" title="" href="cart.html">(0) Items <em class="fa fa-shopping-cart"></em></a></li>
                        <li><a href="login.html"><em class="fa fa-lock"></em> Login / Register</a></li>
                    </ul><!-- topmenu -->
                    <div id="dmsearch" class="dmsearch">
                        <form id="searchform" action="#" method="get">
                            <div class="dm-search-container">
                            <input id="s" class="dmsearch-input" type="text" name="s" value="" placeholder="Search on this site">
                            </div>
                            <input id="go" class="dmsearch-submit" type="submit" value="">
                            <span class="searchicon"></span>
                        </form> <!-- end searchform -->
                    </div><!-- end search -->
                </div><!-- end marketing -->
            </div><!-- end col-lg-6 -->
        </div><!-- end container -->
    </div><!-- end topbar -->
 
	<header class="header-wrapper">
    	<div class="container">
        	<div class="site-header clearfix">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="social clearfix">
                        <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Twitter" title="" href="#"><em class="fa fa-twitter"></em></a></span>
                        <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Facebook" title="" href="#"><em class="fa fa-facebook"></em></a></span>
                        <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Google Plus" title="" href="#"><em class="fa fa-google-plus"></em></a></span>
                        <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Linkedin" title="" href="#"><em class="fa fa-linkedin"></em></a></span>
                        <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Github" title="" href="#"><em class="fa fa-github"></em></a></span>
                    </div><!-- end social -->
              	</div><!-- end col 4 --> 
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 title-area">
                    <div class="site-title" id="title">
                        <a href="index.html" title="">
                            <img src="images/logo.png" alt="">	
                        </a>
                    </div><!-- site title -->
                </div><!-- title area -->
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
               		<p class="tagline text-right">Welcome to the <a href="#">PRESSA</a>. Our awesome tagline message</p>
              	</div><!-- end col 4 --> 
                <div class="clearfix"></div>
                <div class="fullnav">
                      <nav class="navbar navbar-default fhmm" role="navigation">
                        <div class="navbar-header">
                            <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        </div><!-- end navbar-header -->
                        <div id="defaultmenu" class="navbar-collapse collapse container">
                            <ul class="nav navbar-nav">
                                <li class="active dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><em class="fa fa-home"></em> Home <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="index.html">Default Wide Layout</a></li>
                                        <li><a href="index-boxed.html">Boxed Layout</a></li>
                                        <li><a href="home3.html">Home Variation 3</a></li>
                                        <li><a href="home4.html">Home Variation 4</a></li>
                                        <li><a href="home5.html">Home Variation 5</a></li>
                                        <li><a href="home6.html">Home Variation 6</a></li>
                                        <li><a href="home7.html">Home Variation 7</a></li>
                                        <li><a href="home8.html">Home Variation 8</a></li>
                                        <li><a href="home9.html">Home Variation 9</a></li>
                                        <li><a href="home10.html">Home Variation 10</a></li>
                                        <li><a href="home11.html">Home Variation 11</a></li>
                                        <li><a href="home12.html">Home Variation 12</a></li>
                                        <li><a href="home13.html">Home Variation 13</a></li>
                                        <li><a href="home14.html">Home Variation 14</a></li>
                                        <li><a href="home15.html">Home Variation 15</a></li>
                                        <li><a href="#">Build Your Own!</a></li>
                                    </ul><!-- end dropdown-menu -->
                                </li><!-- end standard drop down -->
                                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Sliders <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu" role="menu">
                                       <li><a href="layerslider.html">Layer Slider</a></li>
                                       <li><a href="revolutionslider.html">Revolution Slider</a></li>
                                       <li><a href="royalslider.html">Royal Slider</a></li>
                                       <li><a href="flexslider.html">Flex Slider</a></li>
                                    </ul><!-- end dropdown-menu -->
                                </li><!-- end standard drop down -->
                                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="single-about.html">About Me</a></li>
                                        <li><a href="about.html">About Page</a></li>
                                        <li><a href="about2.html">About Alternative</a></li>
                                        <li><a href="teammembers.html">Team Members</a></li>
                                        <li><a href="page.html">Page Standard</a></li>
                                        <li><a href="page-full-width.html">Page Full Width</a></li>
                                        <li><a href="navigation-sidebar.html">Navigation Sidebar</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="services-alternative.html">Services Alternative</a></li>
                                        <li><a href="sitemap-archives.html">Sitemap / Archives</a></li>
                                        <li><a href="404.html">404 Not Found</a></li>
                                        <li><a href="faqs.html">FAQs Example</a></li>
                                        <li><a href="timeline.html">Company Timeline</a></li>
                                        <li><a href="login.html">Login & Register</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="maintenance.html">Maintenance Mode</a></li>
                                    </ul><!-- end dropdown-menu -->
                                </li><!-- end standard drop down -->
                                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Shop <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="shop1.html">Shop Variation 1</a></li>
                                        <li><a href="shop2.html">Shop Variation 2</a></li>
                                        <li><a href="single-shop-full.html">Single Shop Full</a></li>
                                        <li><a href="single-shop-sidebar.html">Single Shop Sidebar</a></li>
                                        <li><a href="cart.html">Shopping Cart</a></li>
                                        <li><a href="checkout.html">Checkout Page</a></li>
                                        <li><a href="whishlist.html">Whishlist</a></li>
                                        <li><a href="account.html">My Account</a></li>
                                    </ul><!-- end dropdown-menu -->
                                </li><!-- end standard drop down -->   
                                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Portfolio <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="filterable-2.html">Filterable (2 Columns)</a></li>
                                        <li><a href="filterable-3.html">Filterable (3 Columns)</a></li>
                                        <li><a href="filterable-4.html">Filterable (4 Columns)</a></li>
                                        <li><a href="pagination-2.html">Pagination (2 Columns)</a></li>
                                        <li><a href="pagination-3.html">Pagination (3 Columns)</a></li>
                                        <li><a href="pagination-4.html">Pagination (4 Columns)</a></li>
                                        <li><a href="masonry-portfolio.html">Masonry Portfolio Style</a></li>
                                        <li><a href="single-portfolio-1.html">Single Portfolio 1</a></li>
                                        <li><a href="single-portfolio-2.html">Single Portfolio 2</a></li>
                                        <li><a href="single-left-portfolio.html">Single Left Sidebar</a></li>
                                        <li><a href="single-right-portfolio.html">Single Right Sidebar</a></li>
                                        <li><a href="portfolio-by-category.html">Portfolio By Category</a></li> 
                                    </ul><!-- end dropdown-menu -->
                                </li><!-- end standard drop down -->  
                                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Blog <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="blog.html">Blog Standard</a></li>
                                        <li><a href="blog-timeline.html">Blog Timeline</a></li>
                                        <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                        <li><a href="blog-two-columns.html">Blog Two Columns</a></li>
                                        <li><a href="blog-three-columns.html">Blog Three Columns</a></li>
                                        <li><a href="single-with-sidebar.html">Single with Sidebar</a></li>
                                        <li><a href="single-without-sidebar.html">Single without Sidebar</a></li>
                                        <li><a href="blog-archives.html">Blog Archives</a></li>
                                        <li><a href="blog-author-details.html">Blog Author Details</a></li>
                                    </ul><!-- end dropdown-menu -->
                                </li><!-- end standard drop down -->  
                                                                                                       
                                <!-- Mega Menu -->
                                <li class="dropdown fhmm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Mega Menu <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu fullwidth">
                                        <li class="fhmm-content withoutdesc">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h3 class="title">HEADERS</h3>
                                                    <ul>
                                                        <li><a href="header1.html">Header Variation 1</a></li>
                                                        <li><a href="header2.html">Header Variation 2</a></li>
                                                        <li><a href="header3.html">Header Variation 3</a></li>
                                                        <li><a href="header4.html">Header Variation 4</a></li>
                                                        <li><a href="header5.html">Header Variation 5</a></li>
                                                        <li><a href="header6.html">Header Variation 6</a></li>
                                                        <li><a href="header7.html">Header Variation 7</a></li>
                                                    </ul>
                                                </div><!-- end col-3 -->
                                                <div class="col-sm-3">
                                                    <h3 class="title">FOOTERS</h3>
                                                    <ul>
                                                        <li><a href="footer1.html">Footer Variation 1</a></li>
                                                        <li><a href="footer2.html">Footer Variation 2</a></li>
                                                        <li><a href="footer3.html">Footer Variation 3</a></li>
                                                        <li><a href="footer4.html">Footer Variation 4</a></li>
                                                        <li><a href="footer5.html">Footer Variation 5</a></li>
                                                        <li><a href="footer6.html">Footer Variation 6</a></li>
                                                        <li><a href="footer7.html">Footer Variation 7</a></li>
                                                    </ul>
                                                </div><!-- end col-3 -->
                                                <div class="col-sm-3">
                                                <h3 class="title">SHORTCODES</h3>
                                                <ul>
                                                    <li><a href="typography.html">Typography</a></li>
                                                    <li><a href="icons.html">Retina Icons</a></li>
                                                    <li><a href="animations.html">Animations</a></li>
                                                    <li><a href="buttons.html">Buttons</a></li>
                                                    <li><a href="form-elements.html">Form Elements</a></li>
                                                    <li><a href="tables.html">Table Elements</a></li>
                                                    <li><a href="tabs.html">Tab Elements</a></li>
                                                </ul>
                                                </div><!-- end col-3 -->
                                                <div class="col-sm-3">
                                                    <h3 class="title">&nbsp;</h3>
                                                <ul>
                                                    <li><a href="accordion-toggle.html">Accordions / Toggles</a></li>
                                                    <li><a href="alerts.html">Alert Elements</a></li>
                                                    <li><a href="carousel.html">Carousel Elements</a></li>
                                                    <li><a href="progress-bars.html">Progress Bars</a></li>
                                                    <li><a href="columns.html">Columns / Layouts</a></li>
                                                    <li><a href="pricing-tables.html">Pricing Tables</a></li>
                                                    <li><a href="tooltips-popovers.html">Tooltips & Popovers</a></li>
                                                </ul>
                                                </div><!-- end col-3 -->                                       
                                            </div><!-- end row -->
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h3 class="title">Add Vdeo Widget</h3>
                                                    <iframe src="http://player.vimeo.com/video/41286259?title=0&amp;byline=0&amp;portrait=0" title="Frame1" width="400" height="220" frameborder="0"></iframe>
                                                </div><!-- end col-6 -->
                                                <div class="col-sm-6">
                                                    <h3 class="title">Add Media Elements</h3>
                                                    <ul class="media-list">
                                                        <li class="media"><a href="#" class="pull-right"><img src="demos/01_recent.jpg" alt="" width="70" class="img-thumbnail media-object"></a>
                                                            <div class="media-body">
                                                                <p>Lorem Ipsum beschikbaar heeft te lijden gehad van wijzigingen in een of andere vorm, door ingevoegde</p>
                                                            </div>
                                                        </li>
                                                        <li class="media"><a href="#" class="pull-right"><img src="demos/02_recent.jpg" alt="" width="70" class="img-thumbnail media-object"></a>
                                                            <div class="media-body">
                                                                <p>Er zijn vele variaties van passages maar van in een of andere vorm, door ingevoegde humor of willekeu seloofwaardig ogen.</p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div><!-- end col-6 -->
                                            </div><!-- end row -->
                                        </li><!-- fhmm-content -->
                                    </ul><!-- dropdown-menu -->
                                </li><!-- mega menu -->
                            </ul><!-- end nav navbar-nav -->
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="contact.html"><em class="fa fa-envelope-o"></em> Contact</a></li>
                            </ul><!-- end nav navbar-nav navbar-right -->
                        </div><!-- end #navbar-collapse-1 -->
					</nav><!-- end navbar navbar-default fhmm -->   
				</div><!-- end col-lg-12 -->      
			</div><!-- end site header -->
    	</div><!-- end container -->         
	</header><!-- end header-wrapper -->