<header class="header-wrapper">
	<div>
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<div class="site-title" id="title">
				<a class="fuente_16" href="index.html" title=""> <img src="images/header3.png" alt="">
				</a>
			</div>
			<!-- site title -->
		</div>
		<!-- title area -->
		<div></div>
		<div style="width: 100%;">
			<nav class="navbar navbar-default fhmm" role="navigation">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse"
						data-target="#defaultmenu" class="navbar-toggle">
						<span class="icon-bar"></span><span class="icon-bar"></span><span
							class="icon-bar"></span>
					</button>
				</div>
				<!-- end navbar-header -->
				<div id="defaultmenu" class="navbar-collapse collapse container">
					<ul class="nav navbar-nav  title-area pull-center">
						<li class="dropdown"><a  href="#!/home" class="fuente_16_B"> Inicio</a></li>
						<!-- end standard drop down -->

						<li class="dropdown"><a  data-toggle="dropdown" class="dropdown-toggle fuente_16_B">Integración del Congreso  <strong class="caret"></strong></a>
							<ul class="dropdown-menu" role="menu">
								<li><a class="fuente_16" href="#!/integracionCongreso">H.Congreso
											de la Unión</a></li>

								<li><a class="fuente_16" href="#!/diputados">Cámara de Diputados</a></li>
								<li><a class="fuente_16" href="#!/senadores">Senado de la Republica</a></li>
								<li><a class="fuente_16" href="#!/comisiones">Comisión Permanente</a></li>
								<li><a class="fuente_16" href="#!/diputados">Legislaturas Anteriores</a></li>
							</ul> <!-- end dropdown-menu --></li>
						<!-- end standard drop down -->
						<li class="dropdown"><a  data-toggle="dropdown" class="dropdown-toggle fuente_16_B">Legisladores <strong class="caret"></strong></a>
							<ul class="dropdown-menu" role="menu">
								<li><a class="fuente_16" href="#!/porNombres">Por Nombre</a></li>
								<li><a class="fuente_16" href="#!/Camaras">Por Camara</a></li>
								<li><a class="fuente_16" href="#!/PartidosLegisladores">Por Partido</a></li>
								<li><a class="fuente_16" href="#!/diputadosEntidades">Por Entidad</a></li>
								<li><a class="fuente_16" href="#!/Genero">Por Genero</a></li>
								<li><a class="fuente_16" href="#!/CurulesEstaños">Por Curul/Escaño</a></li>
								<!--<li><a class="fuente_16" href="#!/diputados">Busqueda Avanzada</a></li> -->
							</ul> <!-- end dropdown-menu --></li>
						<!-- end standard drop down -->
						<li class="dropdown"><a  data-toggle="dropdown" class="dropdown-toggle fuente_16_B">Comisiónes<strong class="caret"></strong></a>
							<ul class="dropdown-menu" role="menu">
								<li><a class="fuente_16" href="#!/diputados">Ordinarias</a></li>
								<li><a class="fuente_16" href="#!/diputados">Especial</a></li>
								<li><a class="fuente_16" href="#!/diputados">Comité</a></li>
								<li><a class="fuente_16" href="#!/diputados">Investigación</a></li>
								<li><a class="fuente_16" href="#!/diputados">Sección
											Instructora</a></li>
								<li><a class="fuente_16" href="#!/diputado">Busqueda
											Avanzada</a></li>

							</ul> <!-- end dropdown-menu --></li>
						<!-- end standard drop down -->
						<!-- Mega Menu -->
						<li class="dropdown"><a  data-toggle="dropdown" class="dropdown-toggle fuente_16_B">Órganos de Gobierno <strong class="caret"></strong></a>
							<ul class="dropdown-menu" role="menu">
								<li><a class="fuente_16" href="#!/diputados"></a></li>
								<li><a class="fuente_16" href="#!/diputados">Mesa Directiva</a></li>
								<li><a class="fuente_16" href="#!/diputados">JUCOPO</a></li>
								<li><a class="fuente_16" href="#!/diputados">Conferencia</a></li>
								<li><a class="fuente_16" href="#!/diputados">Legislatura</a></li>
								<li><a class="fuente_16" href="#!/diputados"></a></li>
							</ul> <!-- end dropdown-menu --></li>
						<!-- end standard drop down -->
						<li class="dropdown"><a  href="#!/contacto" class="fuente_16_B"> Contacto</a></li>
						<!-- end standard drop down -->
						<!-- Mega Menu -->

					</ul>
					<!-- end nav navbar-nav -->
				</div>
				<!-- end #navbar-collapse-1 -->
			</nav>
			<!-- end navbar navbar-default fhmm -->
		</div>
		<!-- end col-lg-12 -->
	</div>
	<!-- end site header -->
</header>
<!-- end header-wrapper -->
<div style="width: 100%; height: 16px; background: #621132"></div>
<!-- Bootstrap core JavaScript   ================================================== -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/fhmm.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery.unveilEffects.js"></script>
<script src="js/retina-1.1.0.js"></script>
<script src="js/jquery.simple-text-rotator.js"></script>
<script src="js/application.js"></script>

<!-- LayerSlider script files -->
<script src="layerslider/js/greensock.js" type="text/javascript"></script>
<script src="layerslider/js/layerslider.transitions.js"	type="text/javascript"></script>
<script src="layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<script src="js/jquery.isotope.min.js"></script>
<script>
	// Portfolio
	(function($) {
		"use strict";
		var $container = $('.portfolio_wrapper'), $items = $container
				.find('.item'), portfolioLayout = 'fitRows';

		if ($container.hasClass('portfolio-centered')) {
			portfolioLayout = 'masonry';
		}

		$container.isotope({
			filter : '*',
			animationEngine : 'best-available',
			layoutMode : portfolioLayout,
			animationOptions : {
				duration : 750,
				easing : 'linear',
				queue : false
			},
			masonry : {}
		}, refreshWaypoints());

		function refreshWaypoints() {
			setTimeout(function() {
			}, 1000);
		}

		$('nav.portfolio-filter ul a').on('click', function() {
			var selector = $(this).attr('data-filter');
			$container.isotope({
				filter : selector
			}, refreshWaypoints());
			$('nav.portfolio-filter ul a').removeClass('active');
			$(this).addClass('active');
			return false;
		});

		function getColumnNumber() {
			var winWidth = $(window).width(), columnNumber = 1;

			if (winWidth > 1200) {
				columnNumber = 5;
			} else if (winWidth > 950) {
				columnNumber = 4;
			} else if (winWidth > 600) {
				columnNumber = 3;
			} else if (winWidth > 400) {
				columnNumber = 2;
			} else if (winWidth > 250) {
				columnNumber = 1;
			}
			return columnNumber;
		}

		function setColumns() {
			var winWidth = $(window).width(), columnNumber = getColumnNumber(), itemWidth = Math
					.floor(winWidth / columnNumber);

			$container.find('.item').each(function() {
				$(this).css({
					width : itemWidth + 'px'
				});
			});
		}

		function setPortfolio() {
			setColumns();
			$container.isotope('reLayout');
		}

		$container.imagesLoaded(function() {
			setPortfolio();
		});

		$(window).on('resize', function() {
			setPortfolio();
		});
	})(jQuery);
</script>

<script src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("a[rel^='prettyPhoto']").prettyPhoto();
	});
</script>


