<nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces">
            <span class="sr-only">Interruptor de Navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="subenlaces">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#!home" data-target="#home" class="fuente_16_B">Inicio</a></li>
                <li ng-show="autorizacion.administracion.visible" class="dropdown">
                    <a class="dropdown-toggle fuente_16_B" data-toggle="dropdown" role="button" aria-expanded="false">Administraci&oacute;n <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="fuente_16" href="#!catPlan_nacional" data-target="#catPlan_nacional">Carga del Programa Nacional</a></li> 
                        <li><a class="fuente_16" href="#!catObjetivos" data-target="#catObjetivos" >Objetivos</a></li> 
                        <li><a class="fuente_16" href="#!catEstrategias" data-target="#catEstrategias">Estrategias</a></li> 
                        <li><a class="fuente_16" href="#!catDependencias" data-target="#catDependencias">Dependencias</a></li> 
                        <li><a class="fuente_16" href="#!catCacciones" data-target="#catCacciones">Acciones Puntuales</a></li>
                        <li><a class="fuente_16" href="#!catCategorias" data-target="#catCategorias">Proceso al que Contribuye</a></li>
                        <!--li><a class="fuente_16" href="#!catInstancia_coordinadora" data-target="#catInstancia_coordinadora">Instancia coordinadora</a></li>
                        <li><a class="fuente_16" href="#!catResponsables" data-target="#catResponsables">Responsables</a></li>                                
                        <li><a class="fuente_16" href="#!catAcciones_puntuales" data-target="#catAcciones_puntuales">Acciones Puntuales</a></li--> 
                        <li><a class="fuente_16" href="#!catDerechos" data-target="#catDerechos">Derechos</a></li> 
                        <!--li><a class="fuente_16" href="#!catPeriodos" data-target="#catPeriodos">Periodos</a></li --> 
                        <li><a class="fuente_16" href="#!catTipo_respuesta" data-target="#catTipo_respuesta">Tipo de Respuesta</a></li> 
                        <li><a class="fuente_16" href="#!catEstadosyMunicipios" data-target="#catEstadosyMunicipios">Estados y Municipios</a></li> 
                    </ul>
                </li>
                <li ng-show="autorizacion.ejecucion.visible" class="dropdown">
                    <a class="dropdown-toggle fuente_16_B" data-toggle="dropdown" role="button" aria-expanded="false">Ejecuci&oacute;n y Seguimiento<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-show="autorizacion.ejecucion.accionesPuntuales"><a class="fuente_16" href="#!ejecucion" data-target="#ejecucion">Ejecuci&oacute;n de Acciones Puntuales</a></li> 
                        <li ng-show="autorizacion.ejecucion.monitoreo"><a class="fuente_16" href="#!ejecucion2" data-target="#ejecucion2">Monitoreo del Programa Nacional</a></li> 
                        <li ng-show="autorizacion.ejecucion.observacion"><a class="fuente_16" href="#!revision" data-target="#revision">Observaciones a Actividades y Resultados</a></li>
                        <li ng-show="autorizacion.ejecucion.autorizacion"><a class="fuente_16" href="#!ejecucion2" data-target="#ejecucion2">Autorizaci&oacute;n de estrateg&iacute;as </a></li> 
                    </ul>
                </li>
                <li ng-show="autorizacion.reportes.visible" class="dropdown">
                    <a class="dropdown-toggle fuente_16_B" data-toggle="dropdown" role="button" aria-expanded="false">Reportes<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="fuente_16" href="#!sabanaDatos" data-target="#sabanaDatos">S&aacute;bana de Datos</a></li> 
                        <li><a class="fuente_16" href="#!ejecutivos" data-target="#ejecutivos">Reportes Estad&iacute;sticos Ejecutivos</a></li>
                        <li><a class="fuente_16" href="#!rolDependencia" data-target="#rolDependencia">Rol Dependencias</a></li>
                        <!--li><a class="fuente_16" href="">Reportes estad&iacute;sticos operativos</a></li-->
                    </ul>
                </li>
                <li ng-show="autorizacion.historico.visible" class="dropdown">
                    <a class="dropdown-toggle fuente_16_B" data-toggle="dropdown" role="button" aria-expanded="false">Hist&oacute;rico<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="fuente_16" href="#!historico" data-target="#historico">Consulta del PRONAPINNA anterior</a></li>
                    </ul>
                </li>
                <li ng-show="autorizacion.seguridad.visible" class="dropdown">
                    <a class="dropdown-toggle fuente_16_B" data-toggle="dropdown" role="button" aria-expanded="false">Seguridad<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="fuente_16" href="#!usuarios" data-target="#usuarios">Usuarios</a></li> 
                        <!--li><a class="fuente_16" href="#!roles" data-target="#roles">Roles y Permisos</a></li--> 
                    </ul>
                </li>
                <li ng-show="autorizacion.bitacora.visible" class="dropdown">
                    <a class="dropdown-toggle fuente_16_B" data-toggle="dropdown" role="button" aria-expanded="false">Bit&aacute;cora<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="fuente_16" href="#!bitacora" data-target="#bitacora">Bit&aacute;cora de movimientos</a></li> 
                        <li><a class="fuente_16" href="#!home" data-target="#home">Notificaciones</a></li> 
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle fuente_16_B" data-toggle="dropdown" role="button" aria-expanded="false">{{user.nombre}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="fuente_16" ng-click="logout()">Salir</a></li> 
                        <li><a class="fuente_16" href="#!cambioPassword" data-target="#cambioPassword">Cambio de Contrase&ntilde;a</a></li> 
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="space_bottom clearfix" >
    <header class="header-wrapper" style="margin: 119px 0 0 0;">	
        <table>
            <tr>
                <td><em>&nbsp;</em></td>
                <td width="20%"><img src="/pronapinna/resources/images/logoheader.svg" width="60%" heigth="40%" alt="Imagen2"/></td>
                <td align="center"><h2>Programa Nacional de Protecci&oacute;n de Ni&ntilde;as, Ni&ntilde;os y Adolescentes</h2></td>
                <td><em>&nbsp;</em></td>
                <td width="20%"><img src="/pronapinna/resources/images/sipinna_blanco.png" width="60%" heigth="40%" alt="Imagen3"/></td>
            </tr>
        </table>
    </header>
</div>