    <section class="post-wrapper-top dm-shadow">
    	<div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Cat&aacute;logo de Objetivos</h2>
            </div><!-- end col-12 -->
            
        </div><!-- end container -->
	</section><!-- end post-wrapper-top -->
    
	<section class="section-single">
        <div class="container">
			<div class="fullwidth-post-wrapper col-lg-12">
                <div class="section-title"> </div><!-- end section-title -->
				<div class="row portfolio_wrapper clearfix">
				     <div class="bs-example"> </div>
				     <table datatable class="table table-hover table-striped table-nowrap dataTable" 
                                          dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns"
                                          cellspacing="0" width="100%"></table>
				</div><!-- end portfolio_wrapper -->
			</div><!-- fullwidth-post-wrapper -->
		</div><!-- end container -->
   </section><!-- end section-single -->
   
  <script type="text/ng-template" id="objetivoEditFrm.html">
      <div class="modal-header">
      <label>Editar Datos</label>
        <button type="button" class="close" ng-click="mo.cancel()">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="text-center">
            <div class="row">
              <div class="col-md-15">
                <div class="demo-form-wrapper">
                  <form class="form form-horizontal" name="tblObjetivoFrm" novalidate ng-submit="mo.formValidation()" >
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="descripcion">Descripci&oacute;n</label>
                      <div class="col-sm-9">
			<textarea class="form-control" name="descripcion" required ng-model="registroEdit.descripcion"></textarea>
                        <div ng-show="tblObjetivoFrm.name.$invalid">
                            <div class="text-danger m-y-sm" ng-show="tblObjetivoFrm.descripcion.$error.required">Campo requerido.</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-sm-2">
                          <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                        </div>
                    </div>
                  </form>
                </div>
              </div>      
            </div>
         </div>
      </div>
  
      <div class="modal-footer"></div>
  </script>
    
    