<style>
.panel-body2 .showHideOptions {
	display: inline-block;
	font-size: .8em;
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
	float: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.md-datepicker-calendar-pane {
	z-index: 1200;
}
</style>

<section class="post-wrapper-top dm-shadow">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2>Carga del Programa Nacional</h2>
		</div>
		<!-- end col-12 -->

	</div>
	<!-- end container -->
</section>
<!-- end post-wrapper-top -->
<section class="section-single">

	<div class="container">
		<form class="form-horizontal ng-pristine ng-valid ng-submitted"
			style="margin-bottom: 0px;" id="frmPasaporte" name="frmPasaporte">
			<div class="panel panel-default">
				<div class="panel-heading">Generar Programa Nacional /
					Programa Nacional Ejercicio Anual</div>
				<div class="panel-body">
					<div class="row col-lg-12">
						<div class="form-group col-lg-4">
							<label class="col-lg-4 control-label" for="clave">Layout
								xlsx</label>
							<div class="col-lg-8">
								<div class="input-group file">
									<input type="file" name="filePlanNacional"
										id="filePlanNacional" file-input="files"
										accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
										app-filereader
										onchange="angular.element(this).scope().filesChanged(this)"
										ng-disabled="planNacionalSexenio==1" />
								</div>
							</div>
						</div>
						<div class="form-group col-lg-4"></div>
						<div class="form-group col-lg-2">
							<div class="col-lg-12">
								<button data-ng-click="upload()"
									class="btn btn-primary btn-block"
									ng-disabled="planNacionalSexenio==1">Subir Archivo</button>
							</div>
						</div>
						<div class="form-group col-lg-2">

							<div class="col-lg-12">
								<button data-ng-click="cierraPlanNacional()"
									class="btn btn-primary btn-block">Cerrar Programa</button>
							</div>
						</div>
					</div>
					<div class="row col-lg-12">
						<div class="form-group col-lg-4">
							<label class="col-lg-4 control-label" for="clave">Fecha
								Inicio</label>
							<div class="col-lg-8">
								<div class="input-group date">
									<input class="form-control"
										value="{{planNacional.fechaInicio}}" id="fechaInicio"
										name="fechaInicio" ng-model="planNacional.fechaInicio"
										type="text" datepicker readonly="readonly" style="cursor: pointer;"/>
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-th"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group col-lg-4">
							<label class="col-lg-4 control-label" for="clave">Fecha
								Fin</label>
							<div class="col-lg-8">
								<div class="input-group date">
									<input type="text" class="form-control"
										value="{{planNacional.fechaFin}}" id="fechaFin"
										name="fechaFin" ng-model="planNacional.fechaFin" datepicker
										readonly="readonly" style="cursor: pointer;"/>
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-th"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group col-lg-2">
							<div class="col-lg-12">
								<button data-ng-click="procesar()"
									class="btn btn-primary btn-block"
									ng-disabled="planNacionalSexenio==1">Procesar</button>
							</div>
						</div>
						<div class="form-group col-lg-2">

							<div class="col-lg-12">
								<button data-ng-click="ejercicio()"
									class="btn btn-primary btn-block">Crea Ejercicio</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				Vista Previa - Informaci&oacute;n de archivo que ser&aacute; procesado. <a
					href="" class="showHideOptions"
					ng-click="showFunction['panel1'] = !showFunction['panel1']">Mostrar
					/ Ocultar</a>
			</div>
			<div ng-show="!showFunction['panel1']"
				, ng-init="showFunction['panel1'] = true"
				class="panel-body2 sample-show-hide">
				<table
					class="table table-hover table-striped table-nowrap dataTable"
					cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Clave Objetivo</th>
							<th>Objetivo</th>
							<th>Clave Estrategia</th>
							<th>Estrategia</th>
							<th>Clave Acci&oacute;n puntual</th>
							<th>Accion Puntual</th>
							<th>Instancia</th>
							<th>Funci&oacute;n</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="dataFile in dataTmpFile">
							<td>{{dataFile.claveObj}}</td>
							<td>{{dataFile.descObj}}</td>
							<td>{{dataFile.claveEst}}</td>
							<td>{{dataFile.descEst}}</td>
							<td>{{dataFile.claveAccion}}</td>
							<td>{{dataFile.descAccion}}</td>
							<td>{{dataFile.dependencia}}</td>
							<td>{{dataFile.rol}}</td>
						<tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Programa Nacional - Activo</div>
			<div class="panel-body">
				<table datatable
					class="table table-hover table-striped table-nowrap dataTable"
					dt-options="dtOptions" dt-instance="dtInstance"
					dt-columns="dtColumns" cellspacing="0" width="100%"></table>
			</div>
		</div>
	</div>
</section>
<!-- end section-single -->

<section class="section-single">
	<div class="container">
		<div ng-show="verPeriodo">
			<form class="form form-horizontal" name="catPeriodosFrm"
				id="catPeriodosFrm" ng-submit="formValidation()">
				<div class="form-group">
					<label class="col-lg-4 control-label" for="clave">Fecha
						Inicio</label>
					<div class="col-lg-8">
						<div class="input-group date">
							<input class="form-control" value="{{tblPeriodo.periodoIni}}"
								id="periodoIni" name="periodoIni"
								ng-model="tblPeriodo.periodoIni | date:'yyyy-MM-dd'" type="text"
								datepicker readonly="readonly" />
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-th"></span>
							</div>
						</div>
						<div ng-show="catPeriodosFrm.periodoIni.$invalid">
							<div class="text-danger m-y-sm"
								ng-show="catPeriodosFrm.periodoIni.$error.required">Campo
								requerido.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label" for="clave">Fecha Fin</label>
					<div class="col-lg-8">
						<div class="input-group date">
							<input type="text" class="form-control"
								value="{{tblPeriodo.periodoFin}}" id="periodoFin"
								name="periodoFin"
								ng-model="tblPeriodo.periodoFin | date:'yyyy-MM-dd'" datepicker
								readonly="readonly" />
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-th"></span>
							</div>
						</div>
						<div ng-show="catPeriodosFrm.periodoFin.$invalid">
							<div class="text-danger m-y-sm"
								ng-show="catPeriodosFrm.periodoFin.$error.required">Campo
								requerido.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6">
						<div class="radio">
							<label><input type="radio" name="idEstatus" value="1"
								ng-checked="(tblPeriodo.idEstatus == 1)"
								ng-model="tblPeriodo.idEstatus">Activar Periodo de Captura</label>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="radio">
							<label><input type="radio" name="idEstatus" value="2"
								ng-checked="(tblPeriodo.idEstatus == 2)"
								ng-model="tblPeriodo.idEstatus">Desactivar Periodo de Captura</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-3"></div>
					<div class="col-md-3"></div>
					<div class="col-md-3"></div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary btn-block">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>


<div id="modal-periodo" class="modal fade modal-periodo" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
				Periodos para el Programa vigente
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<table
							class="table table-hover table-striped table-nowrap dataTable"
							cellspacing="0" width="100%">
							<thead>
								<th>Periodo Inicial</th>
								<th>Periodo Final</th>
								<th>Estatus</th>
							</thead>
							<tbody>
								<tr ng-repeat="tblPeriodo in tblPeriodos">
									<td>{{tblPeriodo.periodoIni | date:'yyyy-MM-dd'}}</td>
									<td>{{tblPeriodo.periodoFin | date:'yyyy-MM-dd'}}</td>
									<td>{{tblPeriodo.idEstatus==1?'Activo':'Inactivo'}}</td>
								<tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/ng-template" id="plan_nacionalEditFrm.html">
      <div class="modal-header">
      <label>Editar Datos</label>
        <button type="button" class="close" ng-click="mo.cancel()">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="text-center">
            <div class="row">
              <div class="col-md-15">
                <div class="demo-form-wrapper">
                  <form class="form form-horizontal" name="catPlan_NacionalFrm" novalidate ng-submit="mo.formValidation()" >
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="objetivos">Objetivos</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" name="objetivos" required ng-model="registroEdit.objetivos" adult  >
                        <div ng-show="catPlan_NacionalFrm.name.$invalid">
                            <div class="text-danger m-y-sm" ng-show="catPlan_NacionalFrm.objetivos.$error.required">Campo requerido.</div>
                            <div class="text-danger m-y-sm" ng-show="catFrm.Plan_Nacional.$error.adult">Edad mayor a 18.</div>
                        </div>
                      </div>
                      
                      <label class="col-sm-2 control-label" for="objetivos">Estrategias</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" name="estrategias" required ng-model="registroEdit.estrategias" adult  >
                        <div ng-show="catPlan_NacionalFrm.name.$invalid">
                            <div class="text-danger m-y-sm" ng-show="catPlan_NacionalFrm.estrategias.$error.required">Campo requerido.</div>
                            <div class="text-danger m-y-sm" ng-show="catPlan_NacionalFrm.estrategias.$error.adult">Edad mayor a 18.</div>
                        </div>
                      </div>
                      
                    </div>
                    
                    
                       <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-sm-2">
                          <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                        </div>
                    
                    </div>
            
                  </form>
                </div>
              </div>      
            </div>
         </div>
        
      </div>
    
          
        <div class="modal-footer"></div>
    </script>