 <section class="post-wrapper-top dm-shadow">
  	<div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Notificaciones</h2>
      </div><!-- end col-12 -->
    </div><!-- end container -->
	</section><!-- end post-wrapper-top -->
    
	<section class="section-single">
    <div class="container">
			<div class="fullwidth-post-wrapper col-lg-12">
        <div class="section-title"> </div><!-- end section-title -->
				<div class="row portfolio_wrapper clearfix">
				     <div class="bs-example"> </div>
				   <table datatable class="table table-hover table-striped table-nowrap dataTable" dt-columns="dt.columns" dt-options="dt.options" cellspacing="0" width="100%"></table>
				</div><!-- end portfolio_wrapper -->
			</div><!-- fullwidth-post-wrapper -->
		</div><!-- end container -->
   </section><!-- end section-single -->
   
   
   
   <script type="text/ng-template" id="estadosFrm.html">
      <div class="modal-header">
      <label>Editar Datos</label>
        <button type="button" class="close" ng-click="mo.cancel()">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="text-center">
            <div class="row">
              <div class="col-md-15">
                <div class="demo-form-wrapper">
                  <form class="form form-horizontal" name="catObjetivoFrm" novalidate ng-submit="mo.formValidation()" >
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="objetivos">Objetivos</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" name="objetivos" required ng-model="registro.objetivos" adult  >
                        <div ng-show="catObjetivoFrm.name.$invalid">
                            <div class="text-danger m-y-sm" ng-show="catObjetivoFrm.objetivos.$error.required">Campo requerido.</div>
                            <div class="text-danger m-y-sm" ng-show="catObjetivoFrm.objetivos.$error.adult">Edad mayor a 18.</div>
                        </div>
                      </div>
                      
                      <label class="col-sm-2 control-label" for="objetivos">Estrategias</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" name="estrategias" required ng-model="registro.estrategias" adult  >
                        <div ng-show="catObjetivoFrm.name.$invalid">
                            <div class="text-danger m-y-sm" ng-show="catObjetivoFrm.estrategias.$error.required">Campo requerido.</div>
                            <div class="text-danger m-y-sm" ng-show="catObjetivoFrm.estrategias.$error.adult">Edad mayor a 18.</div>
                        </div>
                      </div>
                      
                    </div>
                    
                    
                       <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-sm-3">
                          <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                        </div>
                    
                    </div>
            
                  </form>
                </div>
              </div>      
            </div>
         </div>
        
      </div>
    
          
        <div class="modal-footer"></div>
    </script>