<section class="post-wrapper-top dm-shadow">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2>Cambio de Contrase&ntilde;a</h2>
		</div>
		<!-- end col-12 -->
	</div>
	<!-- end container -->
</section>
<!-- end post-wrapper-top -->

<section class="section-single">
	<div class="container">
		<div class="fullwidth-post-wrapper col-lg-12">
			<div class="section-title"></div>
			<div class="row portfolio_wrapper clearfix">
				<div class="bs-example"></div>

				<form name="userForm">
					<div class="form-group">
						<div>
							<input type="text" class="form-control" placeholder="Nombre de Usuario"
								ng-model="user.username" ng-disabled="true" />
						</div>
						<div>
							<input name="password" type="password" class="form-control" placeholder="Contrase&ntilde;a"
								ng-model="userTmp.password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
								required />
							<span
								ng-show="!userForm.password.$error.required &&  userForm.password.$error.pattern && userForm.password.$dirty">
								La contrase&ntilde;a debe tener al menos una letra may&uacute;scula y al menos un
								n&uacute;mero o car&aacute;cter</span>
						</div>
						<div>
							<input name="confirm_password" type="password" class="form-control"
								placeholder="Confirmar Contrase&ntilde;a" ng-model="userTmp.confirmPassword"
								ng-pattern="userTmp.password" required /> <span
								ng-show="userTmp.password != userTmp.confirmPassword">Tus
								contrase&ntilde;as deben coincidir.</span>
						</div>
						<div>
							<button class="btn btn-default" type="submit" id="create-user-button"
								ng-disabled="userTmp.password != userTmp.confirmPassword || !userTmp.password "
								ng-click="cambiaPassword()">Actualizar</button>
						</div>
					</div>
				</form>

			</div>
			<!-- end portfolio_wrapper -->
		</div>
		<!-- fullwidth-post-wrapper -->
	</div>
	<!-- end container -->
</section>
<!-- end section-single -->
