<section class="post-wrapper-top dm-shadow">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Roles</h2>
    </div><!-- end col-12 -->
  </div><!-- end container -->
</section><!-- end post-wrapper-top -->

<section class="section-single">
  <div class="container">
    <div class="fullwidth-post-wrapper col-lg-12">
      <div class="section-title">
        <div class="col-sm-5"></div>
        <div class="col-sm-2"> <button class="btn btn-primary btn-block" ng-click="editarRegistro(0,'N')">Nuevo</button>
        </div>
        <div class="col-sm-5"></div>
      </div>
      <!-- end section-title -->
      <div class="row portfolio_wrapper clearfix">
        <div class="bs-example"> </div>
        <table datatable class="table table-hover table-striped table-nowrap dataTable" dt-options="dtOptions"
          dt-instance="dtInstance" dt-columns="dtColumns" cellspacing="0" width="100%"></table>
      </div><!-- end portfolio_wrapper -->
    </div><!-- fullwidth-post-wrapper -->
  </div><!-- end container -->
</section><!-- end section-single -->



<script type="text/ng-template" id="PerfilEditFrm.html">
  <div class="modal-header">
    <label>Editar Datos</label>
    <button type="button" class="close" ng-click="mo.cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
  </div>
      
  <div class="modal-body">
    <div class="text-center">
      <div class="row">
        <div class="col-md-15">
          <div class="demo-form-wrapper">
            <form class="form form-horizontal" name="catPerfilFrm" novalidate ng-submit="mo.formValidation()" >
              <div class="form-group">
                <label class="col-sm-2 control-label" for="perfil">Roles</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="clave" id="clave" required ng-model="registroEdit.clave" adult  >
                  <div ng-show="catPerfilFrm.name.$invalid">
                      <div class="text-danger m-y-sm" ng-show="catPerfilFrm.objetivos.$error.required">Campo requerido.</div>
                  </div>
                </div>
              </div>
              
              <div class="form-group">                      
                <label class="col-sm-2 control-label" for="descripcion">Decripcion</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="descripcion" required ng-model="registroEdit.descripcion" adult  >
                  <div ng-show="catObjetivoFrm.name.$invalid">
                      <div class="text-danger m-y-sm" ng-show="catPerfilFrm.estrategias.$error.required">Campo requerido.</div>
                  </div>
                </div>
              </div>
              <div class="form-group">                    
                <label class="col-sm-2 control-label" for="privilegios">Privilegios</label>                      
                <div class="col-sm-9">
                  <div ng-repeat="catPermiso in lstCatPermisoTmp">
		                <div class="col-md-2" style="border: 1px gray solid; width: 20%; height: 75px;">
                      <input type="checkbox" class="checkbox2" name="checkPermiso" checklist-model="registroEdit.catPermiso" checklist-value="catPermiso" ng-checked="{{catPermiso.check}}" /> {{catPermiso.descripcion}}
	                	</div>
	                </div>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="modal-footer">
                  <input type="button" class="btn btn-default" ng-click="mo.cancel()" value="Cerrar">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </div>
</script>