 <section class="post-wrapper-top dm-shadow">
  	<div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Usuarios</h2>
      </div><!-- end col-12 -->
    </div><!-- end container -->
	</section><!-- end post-wrapper-top -->
    
	<section class="section-single">
    <div class="container">
			<div class="fullwidth-post-wrapper col-lg-12">
                                <div class="section-title">
				    <div class="col-sm-5"></div>
				    <div class="col-sm-2"> <button class="btn btn-primary btn-block" ng-click="editarRegistro(0,'N')">Nuevo</button> </div>
				    <div class="col-sm-5"></div>
				</div>
				<div class="row portfolio_wrapper clearfix">
				     <div class="bs-example"> </div>
				   <table datatable class="table table-hover table-striped table-nowrap dataTable" 
                                          dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns"
                                          cellspacing="0" width="100%"></table>
				</div><!-- end portfolio_wrapper -->
			</div><!-- fullwidth-post-wrapper -->
		</div><!-- end container -->
   </section><!-- end section-single -->
   
   
   
   <script type="text/ng-template" id="UsuarioEditFrm.html">
      <div class="modal-header">
      <label>Editar Datos</label>
        <button type="button" class="close" ng-click="mo.cancel()">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="text-center">
            <div class="row">
              <div class="col-md-15">
                <div class="demo-form-wrapper">
                  <form class="form form-horizontal" name="catUsuarioFrm" novalidate ng-submit="mo.formValidation()" >
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="Usuario">Usuario</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" name="usuario" required ng-model="registroEdit.usuario" adult  >
                        <div ng-show="catUsuarioFrm.usuario.$invalid">
                            <div class="text-danger m-y-sm" ng-show="catUsuarioFrm.usuario.$error.required">Campo requerido.</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="Nombre">Nombre</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" name="nombre" required ng-model="registroEdit.nombre" adult  >
                        <div ng-show="catUsuarioFrm.nombre.$invalid">
                            <div class="text-danger m-y-sm" ng-show="catUsuarioFrm.nombre.$error.required">Campo requerido.</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="apellidoPaterno">Apellido Paterno</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" name="apellidoPaterno" required ng-model="registroEdit.apellidoPaterno" adult  >
                        <div ng-show="catUsuarioFrm.apellidoPaterno.$invalid">
                            <div class="text-danger m-y-sm" ng-show="catUsuarioFrm.apellidoPaterno.$error.required">Campo requerido.</div>
                        </div>
                      </div>
                    </div>                    
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="apellidoMaterno">Apellido Materno</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" name="apellidoMaterno" required ng-model="registroEdit.apellidoMaterno" adult  >
                        <div ng-show="catUsuarioFrm.apellidoMaterno.$invalid">
                            <div class="text-danger m-y-sm" ng-show="catUsuarioFrm.apellidoMaterno.$error.required">Campo requerido.</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="email">Email</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="email" name="email" required ng-model="registroEdit.email" adult  >
                        <div ng-show="catUsuarioFrm.email.$invalid">
                            <div class="text-danger m-y-sm" ng-show="catUsuarioFrm.email.$error.required">Campo requerido.</div>
                            <div class="text-danger m-y-sm" ng-show="catUsuarioFrm.email.$error.email">Email incorrecto.</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="telefono">Telefono</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" ng-minlength="10" ng-maxlength="10" name="telefono" required ng-model="registroEdit.telefono" adult  >
                        <div ng-show="catUsuarioFrm.telefono.$invalid">
                            <div class="text-danger m-y-sm">El tel&eacute;fono proporcionado ser&aacute; necesario para recuperar su contrase&ntilde;a.</div>
                            <div class="text-danger m-y-sm" ng-show="catUsuarioFrm.telefono.$error.required || catUsuarioFrm.telefono.$error.number">Campo requerido.</div>
                            <div class="text-danger m-y-sm" ng-show="((catUsuarioFrm.telefono.$error.minlength || catUsuarioFrm.telefono.$error.maxlength) && registration.phone.$dirty) ">El telefono debe ser a 10 digitos.</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
		      <label class="col-sm-2 control-label" for="perfil">Perfil</label>
                      <div class="col-sm-9">
                        <select id="perfil" name="perfil" class="form-control" ng-required="true"
				ng-options="registro as registro.clave for registro in lstCatPerfil track by registro.id" 
				ng-model="registroEdit.catPerfil"></select>
			</select>
                        <div ng-show="catUsuarioFrm.perfil.$invalid">
                            <div class="text-danger m-y-sm" ng-show="catUsuarioFrm.perfil.$error.required">Campo requerido.</div>
                        </div>
                       </div>
                    </div>
                    
                    <div class="form-group">
		      <label class="col-sm-2 control-label" for="dependencia">Dependencia</label>
                      <div class="col-sm-9">
                        <select id="dependencia" name="dependencia" class="form-control" ng-required="true"
				ng-options="registro as registro.descripcion for registro in lstCatDependencia  | orderBy:'descripcion'  track by registro.descripcion" 
				ng-model="registroEdit.catDependencia"></select>
			</select>
                        <div ng-show="catUsuarioFrm.dependencia.$invalid">
                            <div class="text-danger m-y-sm" ng-show="catUsuarioFrm.dependencia.$error.required">Campo requerido.</div>
                        </div>
                       </div>
                    </div> 

                    <div class="form-group">
                      <div class="col-sm-6">
 			<div class="radio">
		          <label><input type="radio" name="idEstatus" value="1" ng-checked="(registroEdit.idEstatus == 1)" ng-model="registroEdit.idEstatus" >Activo</label>
			</div>
                      </div>
                      <div class="col-sm-6">
			<div class="radio">
			  <label><input type="radio" name="idEstatus" value="2" ng-checked="(registroEdit.idEstatus == 2)" ng-model="registroEdit.idEstatus" >Inactivo</label>
		        </div>
                      </div>                   
                    </div> 
                    
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-sm-2">
                          <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                        </div>
                    </div>
            
                  </form>
                </div>
              </div>      
            </div>
         </div>
        
      </div>
    
          
        <div class="modal-footer"></div>
    </script>