.dmsearch.dmsearch-open .searchicon,
.shop_item .icon-view,
.shop_item .icon-link,
.section-colorizedbg,
h3.widget-title span.title-text,
.about_widget .social span,
.social span,
.site-header .social span,
.pricing-table>.price .name,
.ls01,
.dm_featured_box_icon,
.miniicon span,
.pagination>li>a:hover,
.topbar.whitebg .searchicon:before,
.bs-glyphicons li:hover,
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus,
.progress-bar,
.blog-wrap div.post-date,
.contact_icons,
.desc span.text a:hover,
.desc span.title a:hover,
.tagcloud a,
.widget-title hr,
.hovicon.effect-1.sub-a:hover,
.hovicon.effect-1.sub-a:hover i,
.hovicon.effect-1,
.hovicon.effect-1.sub-a:hover,
.back-to-top,
.btn-primary,
#owl-blog .read-more,
#owl-blog .views,
#owl-blog .post-type,
#timeline .read-more,
#timeline .views,
#timeline .post-type,
.flexslider .desc span.title,
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
mark,
.topbar {
    background: #B38E5D;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(#13322B, #13322B);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffff4a45', endColorstr='#ffbd0000', GradientType=0, enabled=false);
    /*border-color: #13322B #13322B;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
    *background-color: #13322B;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    /*filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);*/
    border-color: #13322B;
}

.jetmenu i,
.jetmenu ul li .indicator,
.blue>li:hover>a,
.jetmenu .indicator:hover,
.searchicon,
.widget-title h3 span,
.panel-title>a i,
.rotate,
.check li:before,
#owl-blog .read-more,
#owl-blog .post-type,
.nav-tabs i,
.best-rating i,
.nav i,
.price>.amount,
.categories li a:hover,
.recent_posts a,
.price-new,
.required,
.shop-right .amount,
.desc span.text a,
a {
    color: #000;
}

.servicetitle hr,
.services_lists hr,
 ::-moz-selection {
    background: #13322B;
}

::selection {
    background: #13322B;
}

#nav:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.75em;
    background-color: #B38E5D;
    background-image: url("images/bg01.png");
}

#nav>ul>li.current:before {
    -moz-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    width: 0.75em;
    height: 0.75em;
    content: '';
    display: block;
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    margin-left: -0.375em;
    background-color: #B38E5D;
    background-image: url("images/bg01.png");
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus,
.post-wrapper-top h2,
.form-control:focus,
.blue>li:hover>a,
.blue>li.active>a {
    border-color: #13322B;
}

.b-link-flow .b-wrapper,
.b-link-flow .b-top-line,
.b-link-stroke .b-top-line,
.b-link-stroke .b-bottom-line,
.b-link-twist .b-top-line,
.b-link-twist .b-bottom-line,
.b-link-twist:hover .b-top-line b,
.b-link-twist:hover .b-bottom-line b,
.b-link-flip,
.b-link-flip .b-top-line,
.b-link-flip .b-bottom-line,
.lt-ie10 .b-link-flip:hover .b-bottom-line b,
.b-link-flip:hover .b-top-line b,
.b-link-box .b-top-line,
.b-link-box .b-bottom-line,
.b-link-stripe .b-line,
.b-link-apart-horisontal .b-top-line,
.b-link-apart-horisontal .b-top-line-up,
.b-link-apart-horisontal .b-bottom-line,
.b-link-apart-horisontal .b-bottom-line-up,
.b-link-apart-vertical .b-bottom-line,
.b-link-apart-vertical .b-bottom-line-up,
.b-link-apart-vertical .b-top-line,
.b-link-apart-vertical .b-top-line-up,
.b-link-diagonal .b-line,
.b-link-fade .b-wrapper,
.b-link-fade .b-top-line,
.tp-rightarrow.default,
.tp-leftarrow.default,
.flex-direction-nav a,
.magnifier {
    background-color: rgba(255, 74, 69, 0.6) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #13322B;
    *background-color: #13322B;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #13322B;
}

.nav-tabs>li.active>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border-top-color: #13322B !important;
}

.hovicon.effect-1:after {
    box-shadow: 0 0 0 4px #13322B;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #13322B;
}

.fuente_14_B {
    color: #ffffff !important;
    font-size: 14px !important;
}

.fuente_16_B {
    color: #ffffff !important;
    font-size: 16px !important;
}

.fuente_16 {
    font-size: 16px !important;
}

.modal-backdrop>.modal-dialog {
    /*display: flex !important;
	justify-content: center;
	align-items: center;*/
    margin-top: 6%;
}

.modal-backdrop>.modal-dialog>img {
    margin-top: 0 !important;
    margin-left: 0 !important;
    left: 0 !important;
    top: 0 !important;
    position: relative !important;
}