.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-85%, -50%);
}
.centrado2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-105%, -50%);
}
.centrado3{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-65%, -50%);
}
    
.texto-encima3{
    position: absolute;
    top: 10px;
    left: 160px;

}
.centrado4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-10%, -50%);
}
.centrado5{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-60%, -50%);
}
.centrado6{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-75%, -50%);
}
.centrado7{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-60%, -50%);
}
.centrado8{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-65%, -50%);
}
.p{
    color: white;
}