<section class="post-wrapper-top dm-shadow">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>S&aacute;bana de Datos</h2>
    </div><!-- end col-12 -->
  </div><!-- end container -->
</section><!-- end post-wrapper-top -->

<section class="section-single">
  <div class="container">
    <div class="fullwidth-post-wrapper col-lg-12">
      <div class="section-title"> </div><!-- end section-title -->

      <div class="row portfolio_wrapper clearfix">
        <div class="col-sm-12">
          <div class="col-sm-6">
            <div class="radio">
              <label><input type="radio" name="optReporte" value="BT" ng-model="reporte"
                  ng-click="habiliatSelect()">Bit&aacute;cora</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="radio">
              <label><input type="radio" name="optReporte" value="PN" ng-model="reporte"
                  ng-click="habiliatSelect()">Programa Nacional</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row portfolio_wrapper clearfix">
        <div class="col-lg-2">
          <label control-label" for="clave">Dep. Coordinadora</label>
          <select id="catDependencia" name="catDependencia" class="form-control"
            ng-options="registroCatDependencia.id as registroCatDependencia.descripcion for registroCatDependencia in lstCatDependencia   | orderBy:'descripcion' track by registroCatDependencia.descripcion"
            ng-model="filtros.dependencia" ng-disabled="dSelectCD"></select>
        </div>
        <div class="col-lg-2">
          <label control-label" for="clave">Periodo Programado</label>
          <select id="periodoProgramado" name="periodoProgramado" class="form-control"
            ng-options="registroCatPeriodoProgramacion.id as registroCatPeriodoProgramacion.descripcion for registroCatPeriodoProgramacion in lstCatPeriodoProgramacion track by registroCatPeriodoProgramacion.id"
            ng-model="filtros.periodoProgramado" ng-disabled="dSelectCPe"></select>
        </div>
        <div class="col-lg-2">
          <label control-label" for="clave">Periodo Realizado</label>
          <select id="periodoRealizado" name="periodoRealizado" class="form-control"
            ng-options="registroCatPeriodoProgramacion.id as registroCatPeriodoProgramacion.descripcion for registroCatPeriodoProgramacion in lstCatPeriodoProgramacion track by registroCatPeriodoProgramacion.id"
            ng-model="filtros.periodoRealizado" ng-disabled="dSelectCPe"></select>
        </div>
        <!--div class="col-lg-2">
                                     <label control-label" for="clave">Edades</label>
                                     <select id="catClasificacionEdad" name="catClasificacionEdad" class="form-control"
					ng-options="registroCatClasificacionEdad.id as registroCatClasificacionEdad.descripcion for registroCatClasificacionEdad in lstCatClasificacionEdad track by registroCatClasificacionEdad.id"
                                        ng-model="filtros.edad" ng-disabled="dSelectCC"></select>
                                   </div>
                                   <div class="col-lg-2">
                                     <label control-label" for="clave">Poblaci&oacute;n</label>
                                     <select id="catPoblacion" name="catPoblacion" class="form-control"
					ng-options="registroCatPoblacion.id as registroCatPoblacion.descripcion for registroCatPoblacion in lstCatPoblacion track by registroCatPoblacion.id"
                                        ng-model="filtros.poblacion" ng-disabled="dSelectCPo"></select>
                                   </div-->
        <div class="col-lg-2">
          <label control-label" for="clave">Respuesta</label>
          <select id="catTipoRespuesta" name="catTipoRespuesta" class="form-control"
            ng-options="registroCatTipoRespuesta.id as registroCatTipoRespuesta.descripcion for registroCatTipoRespuesta in lstCatTipoRespuesta track by registroCatTipoRespuesta.id"
            ng-model="filtros.respuesta" ng-disabled="dSelectCTr"></select>
        </div>
        <div class="col-lg-2">
          <label control-label" for="clave">Estatus Actividad</label>
          <select id="catEstatus" name="catEstatus" class="form-control"
            ng-options="registroCatEstatus.id as registroCatEstatus.descripcion for registroCatEstatus in lstCatEstatusActividad track by registroCatEstatus.descripcion"
            ng-model="filtros.idEstatus" ng-disabled="dSelectCEa"></select>
        </div>
      </div>
      <br>
      <div class="row portfolio_wrapper clearfix">
        <div class="col-sm-5"></div>
        <div class="col-lg-2">
          <input type="button" ng-click="download()" ng-disabled="reporteBtn" class="btn btn-primary"
            value="Generar Reporte">
        </div>
        <div class="col-sm-5"></div>
      </div>
    </div><!-- fullwidth-post-wrapper -->
  </div><!-- end container -->
</section><!-- end section-single -->