 <section class="post-wrapper-top dm-shadow">
    	<div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Observaciones a Actividades y Resultados</h2>
            </div><!-- end col-12 -->
            
        </div><!-- end container -->
	</section><!-- end post-wrapper-top -->
  

   
	<section class="section-single">
        <div class="container">
			<div class="fullwidth-post-wrapper col-lg-12">
        <div class="section-title"> </div><!-- end section-title -->
                                <div class="row portfolio_wrapper clearfix">
	                        <div class="row">
                                 <div class="col-sm-12">
                                   Selecciona la opci&oacute;n Hist&oacute;rico o Vigente para acotar los resultados.
                                 </div>
                                 <div class="col-sm-12">
                                  <div class="col-sm-6">
 	   			   <div class="radio">
				    <label><input type="radio" name="optReporte" value="1" ng-checked="(filtros.idEstatusPNA == '1')" ng-model="filtros.idEstatusPNA">Vigente</label>
				   </div>
                                  </div>
                                  <div class="col-sm-6">
				   <div class="radio">
				    <label><input type="radio" name="optReporte" value="2" ng-checked="(filtros.idEstatusPNA == '2')" ng-model="filtros.idEstatusPNA">Hist&oacute;rico</label>
				   </div>
                                  </div>
                                 </div>
                                </div>
	                        </div>
	                            <div class="row portfolio_wrapper clearfix">
	                              <div class="col-lg-12" ng-show="user.perfil.clave =='OPERADOR'">
	                                 <strong>Consultar acciones puntuales para : {{user.dependencia.descripcion}} <strong>
	                              </div>
	                            </div>
                                <div class="row portfolio_wrapper clearfix">
                                   <div class="col-lg-3" ng-show="user.perfil.clave !='OPERADOR'">
                                     <label control-label" for="clave">Instancia coordinadora</label>
                                     <select id="catDependencia" name="catDependencia" class="form-control"
					ng-options="registroCatDependencia.id as registroCatDependencia.descripcion for registroCatDependencia in lstCatDependencia | orderBy:'descripcion'  track by registroCatDependencia.descripcion" 
                                        ng-model="filtros.dependencia" ng-disabled="dSelectCD"></select>
                                   </div>
                                   <div class="col-lg-3" ng-show="user.perfil.clave !='OPERADOR'">
                                     <label control-label" for="clave">Periodo de realizaci&oacute;n</label>
                                     <select id="periodoRealizado" name="periodoRealizado" class="form-control"
					ng-options="registroCatPeriodoProgramacion.id as registroCatPeriodoProgramacion.descripcion for registroCatPeriodoProgramacion in lstCatPeriodoProgramacion track by registroCatPeriodoProgramacion.id"
                                        ng-model="filtros.periodoRealizado" ng-disabled="dSelectCPe" ></select>
                                   </div>
                                   <div class="col-lg-3" ng-show="user.perfil.clave !='OPERADOR'">
                                     <label control-label" for="clave">Tipo de Respuesta</label>
                                     <select id="catTipoRespuesta" name="catTipoRespuesta" class="form-control"
					ng-options="registroCatTipoRespuesta.id as registroCatTipoRespuesta.descripcion for registroCatTipoRespuesta in lstCatTipoRespuesta track by registroCatTipoRespuesta.id"
                                        ng-model="filtros.respuesta" ng-disabled="dSelectCTr"></select>
                                   </div>
                                   <div class="col-lg-3" ng-show="user.perfil.clave !='OPERADOR'">
                                     <label control-label" for="clave">Estatus Actividad</label>
                                     <select id="catEstatus" name="catEstatus" class="form-control"
	  			        ng-options="registroCatEstatus.id as registroCatEstatus.descripcion for registroCatEstatus in lstCatEstatusActividad track by registroCatEstatus.descripcion" 
                                        ng-model="filtros.idEstatus" ng-disabled="dSelectCEa"></select>
                                   </div>
                                </div>
                                <div class="row portfolio_wrapper clearfix">
                                   <div class="col-lg-4"></div>
                                   <div class="col-lg-4">
                                     <input type="button" ng-click="buscar()" ng-disabled="reporteBtn" class="btn btn-primary btn-block" value="Buscar">
                                   </div>
                                   <div class="col-lg-4"></div>
                                </div>          
        <br/>
        <br/>
        
				<div class="row portfolio_wrapper clearfix">
                                   <table datatable class="table table-hover table-striped table-nowrap dataTable" 
                                          dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns"
                                          cellspacing="0" width="100%"></table>
				</div><!-- end portfolio_wrapper -->
			</div><!-- fullwidth-post-wrapper -->
		</div><!-- end container -->
   </section><!-- end section-single -->
   